@font-face {
    font-family: 'Comfortaa-Bold';
    src: url('../fonts/Comfortaa-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Comfortaa-Light';
    src: url('../fonts/Comfortaa-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Comfortaa-Regular';
    src: url('../fonts/Comfortaa-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Play-Bold';
    src: url('../fonts/Play-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Comfortaa-Bold';
    src: url('../fonts/Comfortaa-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Play-Regular';
    src: url('../fonts/Play-Regular.ttf') format('truetype');
}