﻿@media only screen and (min-width: 1651px) {
    .how_2_wp_bg1 {
        background-size: cover;
        background-position: center;
    }
}
@media only screen and (min-width: 1200px) {
    .lk_btn:hover{
        background: #ff5e3a url("../images/ico2.png") no-repeat 17px scroll;
    }
    .lk_btn:active{
        background: #ec2d1b url("../images/ico2.png") no-repeat 17px scroll;
    }
}
@media only screen and (min-width: 768px) {
    .fc_social a:hover {
        background-position: 0 -50px;
        border: 1px solid #e52512;
        transition: none;
    }
}
@media only screen and (max-width: 1199px) {
    .wrapper{
        width: 768px;
        padding: 0 10px;
    }
    .fb_left {
        margin-top: 36px;
    }
    .mi_top br.br_desctop {
        display: none;
    }
    .mi_top br.br_mobile {
        display: block;
    }
    .logo img{
        width: 120px;
        height: auto;
    }
    .f_logo img{
        width: 120px;
        height: auto;
    }
    .hl_text{
        font-size: 16px;
    }
    .hl_text{
        margin-left: 33px;
    }
    .lk_btn{
        width: 46px;
        background: #fff url("../images/ico28.png") no-repeat center center;
        -webkit-box-shadow: 0px 0px 18px 0px rgba(204,204,204,1);
        -moz-box-shadow: 0px 0px 18px 0px rgba(204,204,204,1);
        box-shadow: 0px 0px 18px 0px rgba(204,204,204,1);
    }
    header br.br_tablet {
        display: none;
    }
    .lk_btn span{
        display: none;
    }
    .hr_text br{
        display: block;
    }
    .hr_text span{
        font-size: 18px;
    }
    .hr_text{
        margin-left: 25px;
    }
    header{
        padding-top: 12px;
    }
    .topmenu ul li>a{
        font-size: 14px;
    }
    .tm_toggle ul li a {
        font-size: 16px;
    }
    .tm_toggle ul {
        width: 310px;
    }
    .mob_text{
        display: block;
    }
    .d_text{
        display: none;
    }
    .topmenu ul .tm_toggle_link a{
        padding-right: 12px;
    }
    .topmenu ul .tm_toggle_link a:before{
        top: 6px;
    }
    h1{
        font-size: 43px;
        padding-top: 81px;
    }
    h1 img{
        display: block !important;
        top: 25px;
    }
    .main_info{
        padding: 12px 0 0 10px;
    }
    .main_img{
        left: -140px;
        width: 900px;
        max-width: 900px;
    }
    .screen_2{
        padding-top: 22px;
        padding-bottom: 57px;
    }
    h2{
        margin-bottom: 37px;
    }
    .hb_num{
        display: none;
    }
    .hb_img{
        padding-left: 20px;
        padding-top: 27px;
    }
    .hb_img img{
        height: 50px;
        width: auto;
    }
    .hb_text span{
        position: absolute;
        top: 25px;
        right: 0;
        width: 65%;
    }
    .hb_text{
        padding: 20px;
        font-size: 16px;
    }
    .how_block{
        height: 195px;
    }
    .m_img{
        display: block !important;
        height: 35px !important;
        width: auto;
        margin-top: 7px;
    }
    .m_img1{
        display: inline-block !important;
    }
    .d_img{
        display: none !important;
    }
    .mi1_wp{
        display: block;
    }
    .bb_bg1{
        background: url("../images/bg2-1.png") no-repeat;
    }
    .bb_bg2{
        background: url("../images/bg3-1.png") no-repeat;
    }
    .banner_block{
        display:none;
    }
    .banner_block_tablet{
        padding-top: 22px;
        display:block;
    }

    .bb_text2{
        padding-right: 60px;
    }
    .about_wpp{
        padding-top: 80px;
    }
    .about_title{
        margin-bottom: 58px;
    }
    .about_btn{
        width: 170px;
    }
    .screen_3{
        padding-top: 43px;
        padding-bottom: 50px;
    }
    .pb_price{
        font-size: 36px;
    }
    .pb_price img{
        height: 25px;
        width: auto;
    }
    .pb_btn{
        width: 200px;
    }
    .pb_text{
        margin-bottom: 20px;
    }
    .programm_block{
        padding-bottom: 20px;
    }
    .screen_4{
        padding-top: 42px;
    }
    .screen_4 h2{
        margin-bottom: 52px;
    }
    .eb_num{
        display: none;
    }
    .eb_item{
        padding: 20px 10px 10px 10px;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
    .eb_img{
        width: 14%;
    }
    .eb_info{
        width: 86%;
        padding-left: 30px;
    }
    .eb_title{
        margin-bottom: 15px;
    }
    .easy_block{
        margin-bottom: 20px;
    }
    .screen_5_tablet{
        padding: 0;
        height: 420px;
    }
    .action_title{
        padding-top: 83px;
        font-size: 48px;
        padding-right: 300px;
        margin-bottom: 30px;
    }
    .action_title span span{
        font-size: 60px;
    }
    .screen_6{
        padding-top: 46px;
    }
    .subtitle br{
        display: none;
    }
    .pay_img{
        width: 50%;
    }
    .pay_title_wp{
        width: 50%;
    }
    .pay_info{
        display: none;
    }
    .pib_mob1{
        display: block;
        width: 280px;
        margin-top: 30px;
    }
    .pt_mob{
        display: block;
        padding-top: 20px;
    }
    .pay_wp{
        padding-bottom: 0;
        margin-bottom: 42px;
    }
    .rs_top{
        padding-right: 10px;
    }
    .rs_info{
        padding-left: 12px;
    }
    .prev1{
        left: -10px;
        width: 30px;
        height: 60px;
        background-size: 100%;
        margin-top: -105px;
    }
    .next1{
        right: -10px;
        width: 30px;
        height: 60px;
        background-size: 100%;
        margin-top: -105px;
    }
    .rs_text{
        padding-bottom: 30px;
    }
    .recall_slider{
        padding-bottom: 57px;
    }
    .screen_7{
        padding-top: 42px;
        padding-bottom: 57px;
    }
    .news_screen.screen_7 {
        padding-top: 36px;
        padding-bottom: 36px;
    }
    .news_block{
        width: 48%;
    }
    .news_screen .news_block {
        width: 48.5%;
        margin-bottom: 18px;
    }
    .news_wp .news_block:nth-child(2){
        display: none;
    }
    .news_screen .news_block:nth-child(2) {
        display: block;
    }
    .news_screen .pagination_wp {
        margin-top: 0;
    }
    .nb_info{
        padding-top: 31px;
        padding-left: 25px;
    }
    .news_screen .nb_info{
        padding-top: 31px;
        padding-left: 25px;
    }
    .news_block_dark{
        padding-top: 45px;
    }
    .news_screen .nb_label {
        top: 15px;
        left: 20px;
    }
    .qb_top{
        padding: 25px 40px;
    }
    .qb_bot{
        padding-left: 40px;
    }
    .qb_bot p{
        margin-bottom: 0;
    }
    .question_block{
        margin-bottom: 30px;
    }
    .screen_8{
        padding-bottom: 10px;
    }
    .fc_w1{
        width: 28%;
    }
    .fc_w3{
        width: 19%;
    }
    .fc_w4{
        width: 30%;
    }
    .cb_title{
        width: 150px;
        margin-left: auto;
        margin-bottom: 10px;
    }
    .cb_text{
        font-size: 14px;
    }
    .cb_text span{
        font-size: 14px;
    }
    .ci_title{
        font-size: 14px;
    }
    .contacts_block{
        margin-bottom: 33px;
    }
    .ci_text{
        font-size: 14px;
    }
    .footer_top{
        padding-bottom: 30px;
    }
    .footer_bot{
        padding: 30px 0;
    }
    .how_block:before{
        top: 15px;
    }
    .screen_5
    {
        display:none;
    }
    .screen_5_tablet
    {
        display:block;
    }
    .screen_5_tablet .wrapper{
        padding-left: 40px;
    }
    .consent_wp{
        padding-top: 20px;
    }
    .consent_title{
        padding-top: 26px;
        padding-bottom: 23px;
    }
    .start_form{
        width: 100%;
    }
    .consent_block.cb_p5{
        padding-left: 50px;
        padding-right: 50px;
    }
    .wp_p2{
        padding-bottom: 0;
    }
    .start_bottom{
        padding-bottom: 30px;
    }
    .si_wp{
        width: 100%;
    }
    .si_block:before{
        right: -95px;
    }
    .step_info{
        padding-bottom: 10px;
    }
    .si_progress_wp{
        width: 100%;
        border-top: 1px solid #efefef;
        padding-top: 33px;
        padding-bottom: 0;
    }
    .si_wp{
        padding-bottom: 25px;
    }
    .si_progress{
        width: 640px;
        height: 36px;
        margin: 0 auto;
    }
    .progress_text{
        padding-top: 10px;
    }
    .rf_left{
        padding-left: 50px;
    }
    .rf_right{
        padding-top: 50px;
    }
    .rfl_text{
        margin-bottom: 40px;
    }
    .consent_check_wp p{
        width: 100%;
        margin-bottom: 10px;
    }
    .consent_check{
        margin-left: 45px;
    }
    .consent_form{
        width: 55%;
    }
    .consent_info{
        width: 42%;
        margin-left: auto;
        margin-right: 0;
    }
    .consent_btn{
        width: 250px;
    }
    .final_top{
        padding-left: 50px;
    }
    .ft_right{
        padding-top: 55px;
    }
    .ft_left{
        padding-top: 40px;
    }
    .fb_left{
        margin-left: 0;
    }
    .fb_left{
        width: 45%;
    }
    .fb_left .cs_line p{
        font-size: 16px;
    }
    .fb_right{
        width: 45%;
        margin-right: 30px;
    }
    .a_btn{
        width: 310px;
    }
    .prigress_step1{
        background: url("../images/progress-m.png") no-repeat;
    }
    .prigress_step2{
        background: url("../images/progress1-m.png") no-repeat;
    }
    .prigress_step3{
        background: url("../images/progress2-m.png") no-repeat;
    }
    .prigress_step4{
        background: url("../images/progress3-m.png") no-repeat;
    }
    .prigress_step5{
        background: url("../images/progress4-m.png") no-repeat;
    }
    .d_desctop {
        display: none;
    }
    .cs_line span.d_tablet {
        display: inline;
    }
    .name_text{
        margin-left: 15px;
    }
    .exit_link span{
    }
    .my_data{
        margin-left: 20px;
    }
    .notice_link{
        margin-left: 20px;
    }
    .lk_left{
        width: 100%;
        margin-bottom: 15px;
    }
    .lk_right{
        width: 100%;
    }
    .mob_bonus_f{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .mob_bonus_f .bonus_block{
        width: 50%;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    .mob_bonus_f .bonus_block:first-child{
        border-right: none;
    }
    .bonus_block .lk_links{
        padding-left: 35px;
        padding-right: 35px;
    }
    .bonus_attention{
        padding: 20px;
    }
    .bf_mob_wp{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .bf_mob{
        width: 48%;
    }
    .bonus_pole{
        height: 144px;
    }
    .dop_page .action_title1 {
        padding-left: 10px;
    }
    .bonus_pole_wp {
        width: 48%;
        margin-top: 0;
    }
    .bf_mob1{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .add_file{
        width: 48%;
        text-align: left;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
    .bf_mob1 .lkf_bot{
        width: 48%;
        padding-top: 0;
        border-top: none;
    }
    .bonus_title{
        width: 100%;
    }
    .lk_f_bot{
        padding: 15px 0;
    }
    .approval_wp{
        padding-left: 110px;
        padding-right: 110px;
        padding-bottom: 30px;
    }
    .lkr_mob_dn{
        display: none;
    }
    .mob_a_p1{
        padding-left: 140px;
        padding-right: 140px;
    }
    .card_info_block{
        padding-left: 170px;
        padding-right: 170px;
    }
    .card_choice_block{
        padding-left: 170px;
        padding-right: 170px;
    }
    .bonus_title br{
        display: none;
    }
    .bid_wp{
        padding-left: 130px;
        padding-right: 130px;
    }
    .question_wp{
        padding: 18px 40px;
    }
    .appeal_message{
        padding-left: 40px;
        padding-right: 40px;
    }
    .appeal_top{
        padding-left: 40px;
        padding-right: 40px;
        position: relative;
    }
    .at_text{
        width: 60%;
    }
    .appeal_message .bonus_pole{
        width: 100%;
    }
    .appeal_message .bonus_pole_wp {
        width: 100%;
    }
    .at_mob_link{
        display: block;
    }
    .pay_table{
        padding: 0 40px 30px 40px;
    }
    .pt_text{
        padding-right: 40px;
    }
    .my_bonus_top .loan_title{
        border-bottom: none;
        padding-bottom: 0;
    }
    .mbt_text{
        font-size: 16px;
        padding: 20px 15px;
    }
    .mbt_left{
        width: 50%;
    }
    .mbt_right{
        width: 50%;
        background: #f1f6f9;
        border-bottom: none;
    }
    .mbt_block_wp{
        padding: 0 40px;
    }
    .mbt_left .lk_links{
        padding: 0 45px;
    }
    .mi_wp{
        width: 100%;
    }
    .mbb_item{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    .mi_top{
        width: 50%;
        height: 110px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-bottom: 0;
        padding-top: 0;
    }
    .mi_text{
        width: 50%;
    }
    .mi_top p{
        text-align: left;
    }
    .mi_top p br{
        display: block;
    }
    .mit_img{
        height: auto;
        margin-bottom: 0;
        margin-right: 10px;
    }
    .personal_form .rfl_wp{
        padding-left: 20px;
        padding-right: 20px;
    }
    .pb_check{
        margin-right: 20px;
    }
    .record_form .consent_check{
        margin-left: 60px;
    }
    .personal_card_wp{
        padding: 0 20px;
    }
    .pcb_left{
        font-size: 18px;
    }
    .pcb_right{
        font-size: 18px;
    }
    .pcb_info{
        padding: 20px 10px 1px 10px;
    }
    .personal_form .add_file{
        width: 100%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .afi_img{
        right: 130px;
    }
    .mob_bonus_one .bonus_block{
        width: 100%;
    }
    .lkf_mob_gray:before{
        display: none;
    }
    .bb_p_dn{
        display: none;
    }
    .ap_p2{
        padding-bottom: 10px;
    }
    .lt_mob_f2{
        font-weight: 900;
    }
    .lt_mob_f2 p span{
        font-weight: 400;
    }
    .lt_mob_f2 p a{
        font-weight: 400;
    }
    .lt_mob_f3{
        font-weight: 900;
    }
    .af_hh_t a{
        display: block;
        text-align: center;
        width: 100%;
    }
    .af_hh_t{
        width: 100%;
    }
    .mi_top{
        height: 155px;
    }
    .mi_text .mi_link{
        position: static;
        width: 100%;
        padding: 0;
        margin: 10px 0 0 0;
        text-align: center;
    }
    .mob_mi_f{
        width: 50%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        flex-direction: column;
        background: #f1f6f9;
    }
    .mi_text{
        width: 100%;
        padding: 0 20px;
        height:  auto;
    }
    .mob_mi_f_bg1{
        background: #fbe9e7;
    }
    .lk_h_block .exit_link span {
        display: none;
    }
    .lk_h_block .exit_link {
        width: 21px;
        height: 18px;
    }
    .appeal_message .add_file {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .appeal_message .add_file a{
        margin-left: auto;
        margin-right: auto;
        display: block;
        text-align: center;
    }
    .doc_wp .lk_left{
        width: 100%;
    }
    .doc_wp .lk_right{
        display: none;
    }
    .doc_wpp{
        padding-bottom: 20px;
    }
    .how_2_wp{
        height: 509px;
        background: url("../images/bg9.jpg") no-repeat center 0;
    }
    .h2_title span{
        display: block;
    }
    .h2_title{
        padding-top: 0;
    }
    .doc_title{
        margin-bottom: 38px;
    }
    .h2_title{
        margin-bottom: 13px;
    }
    .h2_text{
        font-size: 20px;
        line-height: 30px;
        width: 53%;
        margin-bottom: 30px;
    }
    .dop_page .h2_text{
        margin-bottom: 15px;
    }
    .how_2_wp .pi_line img{
        width: 95px;
        height: auto;
    }
    .how_2_wp .pi_line{
        width: 340px;
    }
    .mob_w1 img{
        width: 85%;
        height: auto;
    }
    .how_dop_wp{
        padding-bottom: 20px;
    }
    .simply_wpp{
        padding-top: 55px;
    }
    .simply_wp{
        margin-bottom: 15px;
    }
    .mb_info {
        padding: 22px 0 40px 40px;
        width: 59%;
    }
    .instruction_btn{
        margin-top: 20px;
    }
    .dop_forma{
        width: 100%;
    }
    .h2_title_mob_text{
        display: block !important;
    }
    .h2_text2_mob_dn{
        display: none;
    }
    .h2_text2{
        font-size: 20px;
    }
    .how_2_wp_bg1{
        height: 445px;
        background: #fff url("../images/bg10.jpg") no-repeat center 0;
    }
    .get_wpp{
        padding-top: 20px;
    }
    .get_img{
        width: 100%;
        height: 146px;
    }
    .get_img img{
        width: 100%;
        height: auto;
    }
    .get_text{
        width: 100%;
    }
    .get_block{
        width: 32%;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        height: auto;
    }
    .get_text{
        text-align: center;
        padding: 30px 30px 40px 30px;
    }
    .how_dop_wp_p2{
        padding-bottom: 45px;
    }
    .instruction_wpp{
        padding-top: 40px;
    }
    .instruction_img{
        height: 186px;
    }
    .instruction_info{
        width: 48%;
        padding-top: 0;
        padding-right: 0;
    }
    .instruction_info::before {
        content: '';
        width: 60px;
        height: 62px;
        background: url("../images/ico78.png") no-repeat;
        position: absolute;
        top: -12px;
        left: -55px;
    }
    .ii_text{
        font-size: 16px;
        margin-bottom: 28px;
    }
    .instruction_block{
        margin-bottom: 35px;
    }
    .ib_v1 .instruction_info::before{
        background: url("../images/ico78.png") no-repeat;
        position: absolute;
        top: 0;
        left: inherit;
        right: -55px;
    }
    .how_2_wp_bg2{
        height: 414px;
        background: url("../images/bg11.jpg") no-repeat center 0;
    }
    .make_title{
        font-size: 24px;
        padding-top: 65px;
        padding-left: 35px;
    }
    .make_title span{
        font-size: 36px;
    }
    .make_text{
        font-size: 16px;
        padding-top: 0;
        padding-left: 82px;
    }
    .make_btn{
        width: 250px;
        margin-left: 55px;
    }
    .hb_text2{
        padding: 20px 5px 20px 20px;
        font-size: 16px;
    }
    .hb_mob_h1 .hb_text{
        padding: 0;
    }
    .hb_mob_dn .mi1_wp{
        display: none;
    }
    .hbt_mob_p1 span{
        top: 40px;
    }
    .hbt_mob_p2 span{
        padding-right: 10px;
    }
    .hb_mob_h1{
        height: 210px;
    }
    .hr_text {
        padding-bottom: 0;
    }
    .header_phone {
        position: relative;
        top: -2px;
    }
    .dop_page .pi_line {
        margin-top: 0;
    }
    .how_2_wp_bg4{
        height: 539px;
        background: url("../images/bg15.jpg") no-repeat center 0;
    }
    .al_title{
        padding-top: 47px;
        margin-bottom: 16px;
    }
    .al_text{
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 35px;
    }
    .screen_4 h2{
        margin-bottom: 40px;
    }
    .s4_bg1{
        padding-top: 55px;
        padding-bottom: 35px;
    }
    .advantages_block .eb_item{
        padding-top: 20px;
    }
    .advantages_block .eb_info{
        padding-left: 25px;
    }
    .advantages_block .eb_text{
        padding-right: 0;
    }
    .advantages_block .eb_title{
        margin-top: -5px;
    }
    .advantages_block .easy_block{
        padding-bottom: 12px;
        margin-bottom: 15px;
    }
    .action_title1{
        font-size: 40px;
        padding-top: 90px;
        line-height: 48px;
        margin-bottom: 10px;
    }
    .action_title1 span{
        font-size: 70px;
    }
    .s5_v1 .wrapper{
        padding-left: 10px;
    }
    .action_text{
        font-size: 20px;
        padding-left: 125px;
        margin-bottom: 38px;
    }
    .s5_v1{
        height: 430px;
        background-size: cover;
    }
    .company_wp{
        padding-top: 35px;
    }
    .sert_slider{
        width: 270px;
        margin-top: 95px;
    }
    .sert_slide{
        width: 270px;
        height: 324px;
        background-size: 100%;
        padding-bottom: 25px;
    }
    .sert_slide img{
        width: 150px;
        height: auto;
    }
    .sp4 {
        bottom: -7px;
    }
    .bb_img{
        width: 30%;
    }
    .bb_info{
        width: 70%;
    }
    .brands_wp{
        padding-top: 10px;
        padding-bottom: 55px;
    }
    .bbi_title{
        font-size: 20px;
    }
    .bbi_text{
        font-size: 16px;
    }
    .bbi_text span{
        display: inline-block;
    }
    .bbi_text_f1 span{
        display: block;
    }
    .dop_page .easy_block {
        width: 48.9%;
    }
    .dop_page .screen_4 {
        padding-bottom: 33px;
    }
}
@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .logo{
        padding-left: 15px;
    }
    .f_logo{
        padding-left: 15px;
    }
    .bonus_form .add_file a{
        display: block;
        margin: 0 auto;
    }
    .tablet_bonus_none {
        display: none;
    }
    .lkl_top_p1 {
        padding-bottom: 0;
    }
    .modal_w2 .lkf_bot .consent_btn {
        font-weight: 500;
    }
}
@media only screen and (max-width: 767px) {
    .footer_lk_desctop {
        display: none;
    }
    .footer_lk_mobile {
        display: block;
    }
    .wrapper{
        width: 320px;
    }
    .consent_wp {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .start_title span {
        font-weight: 700;
    }
    .mm_link{
        display: block;
    }
    .logo{
        margin-left: 60px;
    }
    .logo img{
        width: 130px;
        height: auto;
    }
    .hl_text{
        display: none;
    }
    .header_phone{
        display: none;
    }
    .hr_text{
        display: none;
    }
    .topmenu{
        display: none;
    }
    header{
        padding-top: 15px;
    }
    .mob_info_block{
        display: block;
    }
    .screen_1{
        background: #f1f3f7!important;
        height: auto;
        padding-bottom: 10px;
    }
    .main_left{
        display: none;
    }
    .main_img{
        display: none;
    }
    .main_right{
        margin-top: 10px;
    }
    .mr_title{
        padding: 12px 0;
    }
    .mr_title p{
        font-size: 14px;
    }
    .mcb_top p{
        font-size: 14px;
    }
    .mc_btn{
        font-size: 14px;
        height: 40px;
        line-height: 40px;
    }
    .mc_info{
        font-size: 12px;
    }
    .mc_promo a{
        font-size: 12px;
    }
    h2{
        text-align: center;
        font-size: 15px;
    }
    h2 i{
        display: none;
    }
    .screen_2{
        padding-top: 10px;
    }
    .screen_2 h2{
        padding-bottom: 10px;
        border-bottom: 1px solid #f7f7f7;
        margin-bottom: 0;
    }
    .how_block{
        width: 100%;
        padding-left: 50px;
    }
    .hb_img img{
        height: 25px;
        width: auto;
    }
    .hb_img{
        position: absolute;
        top: 45px;
        left: 55px;
    }
    .hb_text span{
        font-size: 14px;
        right: inherit;
        left: 70px;
        top: 35px;
        font-weight: 700;
    }
    .how_block{
        border: none;
        padding-top: 70px;
        height: auto;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    .hb_text{
        padding-top: 0;
        padding-left: 60px;
        font-size: 12px;
    }
    .hb_m1{
        margin-top: -25px;
    }
    .m_img{
        height: 20px !important;
        width: auto;
        margin-top: 0;
    }
    .hb_mob_bg1{
        background: url("../images/ico25.png") no-repeat 20px 30px;
    }
    .hb_mob_bg2{
        background: url("../images/ico26.png") no-repeat 20px 30px;
    }
    .hb_mob_bg3{
        background: url("../images/ico27.png") no-repeat 20px 30px;
        padding-bottom: 75px;
    }
    .mi1_wp{
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        padding: 0 30px;
        padding-top: 20px;
        border-top: 1px solid #e5e5e5;
    }
    .mi1_wp img{
        width: 100%;
        height: auto;
    }
    .banner_wp{
        display: none;
    }
    .about_title{
        padding-bottom: 10px;
        border-bottom: 1px solid #f7f7f7;
        margin-bottom: 0;
        font-size: 15px;
    }
    body{
        background: #f1f3f7;
    }
    .screen_2{
        background: none;
        padding-top: 0;
    }
    header{
        background: #fff;
    }
    .mob_info_block{
        background: #fff;
    }
    .mob_bg{
        padding-top: 10px;
    }
    .about_wpp{
        padding-top: 20px;
        position: relative;
    }
    .about_wpp:before{
        content: '';
        width: 100%;
        height: 10px;
        background: #f1f3f7;
        position: absolute;
        left: 0;
        top: 0;
    }
    .about_img{
        width: 100%;
        padding: 17px 20px;
    }
    .about_info{
        width: 100%;
        padding-left: 0;
        padding-bottom: 20px;
    }
    .ai_m{
        display: block !important;
    }
    .ai_d{
        display: none !important;
    }
    .ai_text{
        font-size: 14px;
        line-height: 1.2;
        padding: 0 20px;
        margin-bottom: 10px;
    }
    .about_btn{
        height: auto;
        border: none;
        outline: none;
        width: 75px;
        margin: 0 auto;
        font-size: 14px;
        line-height: 1;
        font-weight: 400;
        border-bottom: 1px solid #000;
        border-radius: 0;
    }
    .screen_3 h2{
        padding-bottom: 10px;
        border-bottom: 1px solid #f7f7f7;
        margin-bottom: 0;
        font-size: 15px;
    }
    .programm_wp{
        display: none;
    }
    .programm_slider{
        display: block;
        padding-bottom: 45px;
    }
    .programm_block{
        width: 100%;
        border: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        margin-top: 0;
    }
    .swiper2{
        overflow: hidden;
    }
    .screen_3{
        padding: 0;
        border: none;
    }
    .screen_2{
        padding-bottom: 10px;
    }
    .pb_title{
        font-size: 22px;
        padding: 10px 0;
    }
    .pb_img{
        height: 150px;
    }
    .pb_img img{
        width: 110px;
        height: auto;
    }
    .pb_price{
        font-size: 32px;
        line-height: 1;
    }
    .pb_text span{
        font-size: 14px;
    }
    .pb_btn{
        width: 260px;
        font-size: 14px;
        height: 40px;
        line-height: 40px;
    }
    .easy_block{
        width: 100%;
    }
    .screen_4{
        background: none;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .screen_4 h2{
        padding-bottom: 12px;
        border-bottom: 1px solid #f7f7f7;
        margin-bottom: 0;
        font-size: 15px;
    }
    .eb_title{
        font-size: 14px;
        margin-bottom: 5px;
        font-weight: 700;
    }
    .eb_text{
        font-size: 12px;
    }
    .eb_info{
        padding-left: 23px;
    }
    .easy_block{
        padding: 20px;
        margin-bottom: 0;
    }
    .eb_item{
        padding: 0;
    }
    .screen_5_tablet{
        display:none;
    }
    .screen_5_mobile{
        display:block;
        height: 236px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        background-repeat: no-repeat;
        background-position: center;
    }
    .action_title{
        padding: 20px;
        font-size: 24px;
    }
    .action_title span{
        font-size: 24px;
    }
    .action_title span span{
        font-size: 36px;
    }
    .action_btn{
        width: 250px;
        height: 40px;
        font-size: 14px;
        line-height: 40px;
        margin: 0 auto;
    }
    .s6_btn{
        display: none;
    }
    .screen_6{
        background: none;
        padding-top: 10px;
    }
    .title_wp h2{
        width: 100%;
        padding-bottom: 12px;
        border-bottom: 1px solid #f7f7f7;
        margin-bottom: 0;
        font-size: 15px;
    }
    .subtitle{
        display: none;
    }
    .pay_img{
        width: 100%;
    }
    .pi_btn_mob{
        width: 100%;
        font-size: 14px;
        height: 40px;
        line-height: 40px;
    }
    .pay_wp{
        padding: 20px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    .title_wp{
        margin-bottom: 0;
    }
    .pay_title_wp{
        width: 100%;
    }
    .pay_title{
        font-size: 22px;
        font-weight: 900;
        text-align: center;
    }
    .pay_subtitle{
        text-align: center;
        font-size: 14px;
    }
    .pt_mob{
        display: none;
    }
    .pay_wp{
        margin-bottom: 10px;
    }
    .recall_slide{
        border: none;
    }
    .recall_slider{
        margin-top: 0;
        padding-bottom: 35px;
    }
    .rsi_name{
        font-size: 14px;
    }
    .rsi_city{
        font-size: 14px;
        margin-bottom: 5px;
    }
    .rsi_link{
        width: 80px;
        height: 8px;
        background-size: 100%;
    }
    .rs_text{
        font-size: 14px;
    }
    .rs_top{
        padding: 20px 20px 5px 20px;
    }
    .rs_text{
        padding: 20px;
    }
    .prev1{
        width: 11px;
        height: 18px;
        background: url("../images/prev2.png") no-repeat;
        margin-top: 10px;
        left: -5px;
    }
    .next1{
        width: 11px;
        height: 18px;
        background: url("../images/next2.png") no-repeat;
        margin-top: 10px;
        right: -5px;
    }
    .news_block{
        width: 100%;
    }
    .nbi_data{
        font-size: 12px;
    }
    .nbi_title{
        font-size: 18px;
    }
    .screen_7{
        padding: 0 0 10px 0;
    }
    .screen_6{
        padding-bottom: 10px;
    }
    .screen_7 h2{
        width: 100%;
        padding-bottom: 12px;
        border-bottom: 1px solid #f7f7f7;
        margin-bottom: 0;
        font-size: 15px;
    }
    .news_wp{
        display: none;
    }
    .news_slider{
        display: block;
    }
    .nb_info{
        padding-top: 25px;
    }
    .nbi_text{
        font-size: 14px;
    }
    .screen_8{
        background: none;
        padding: 0;
    }
    .qb_top p{
        font-size: 15px;
        text-align: center;
    }
    .qb_top{
        position: relative;
        padding: 20px 40px;
    }
    .qb_top>span{
        position: absolute;
        top: 30px;
        right: 15px;
    }
    .qb_bot p{
        font-size: 14px;
        line-height: 1;
    }
    .qb_bot{
        padding-left: 30px;
        padding-bottom: 25px;
    }
    .fc_w1{
        width: 100%;
    }
    .f_logo{
        display: none;
    }
    .fc_text{
        display: none;
    }
    .fc_social{
        text-align: center;
    }
    .fc_social div{
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .question_block{
        margin-bottom: 10px;
    }
    .footer_top{
        padding-top: 10px;
    }
    .fc_w2{
        width: 100%;
        padding: 25px 50px;
    }
    .fc_w3{
        width: 100%;
        padding: 25px 50px;
    }
    .fm_title{
        font-size: 14px;
        margin-bottom: 7px;
    }
    .f_list li{
        margin-bottom: 5px;
    }
    .fc_w4{
        width: 100%;
        text-align: center;
    }
    .cb_title{
        display: none;
    }
    .footer_bot{
        padding: 0;
        text-align: center;
        background: #eff1f5;
    }
    .copyright{
        color: #000;
    }
    .f_logo_mob{
        display: block;
        padding: 10px 0;
    }
    .f_logo_mob img{
        width: 100px;
        height: auto;
    }
    .mob_bg{
        background: #fff;
    }
    .about_img img {
        width: 100%;
    }
    .screen_5 {
        background-size: calc(100% - 20px) auto;
    }
    .pay_img img {
        display: block;
        margin: 0 auto;
    }
    footer{
        background: none;
    }
    .footer_top{
        padding-bottom: 10px;
    }
    .footer_top .mob_bg{
        background: none;
        border: none;
        border-bottom: none;
    }
    .fc_social p{
        font-size: 14px;
    }
    .fc_social a{
        margin: 0 10px;
    }
    .fc_social{
        padding-bottom: 20px;
        border-bottom: 1px solid #3e3c42;
    }
    .mob_f_phone{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        flex-direction: column;
        padding: 20px 0;
        border-bottom: 1px solid #3e3c42;
    }
    .mob_f_phone .header_phone{
        display: block;
        margin-bottom: 5px;
        font-size: 14px;
        background-size: auto 100%;
    }
    .mob_f_phone .cb_title{
        display: block;
        font-size: 14px;
        text-align: center;
        margin: 0;
        width: 100%;
    }
    .fc_w2{
        border-bottom: 1px solid #3e3c42;
    }
    .fc_w3{
        border-bottom: 1px solid #3e3c42;
    }
    .cb_text span{
        display: none;
    }
    .contacts_block{
        margin-bottom: 0;
        padding-bottom: 20px;
        border-bottom: 1px solid #3e3c42;
    }
    .company_info{
        display: none;
    }
    .mob_company_info{
        display: block;
    }
    .mob_company_info .company_info{
        display: block;
    }
    .footer_bot{
        padding-bottom: 10px;
        background: none;
    }
    .footer_bot .mob_bg{
        background: none;
        border: none;
        padding-bottom: 30px;
    }
    .mob_company_info{
        margin-bottom: 30px;
    }
    .f_logo_mob{
        padding-bottom: 20px;
    }
    .copyright{
        padding: 0 30px;
        color: #fff;
    }
    footer{
        background: #302e34;
        color: #fff;
    }
    .mob_f_phone .header_phone{
        color: #fff;
    }
    .f_list li a{
        color: #fff;
    }
    .cb_text a{
        color: #fff;
    }
    .ml{
        display: inline-block !important;
        text-align: center;
    }
    .dl{
        display: none !important;
    }
    .f_logo_mob{
        text-align: center;
    }
    .vk_soc{
        background: url("../images/soc1-1.png") no-repeat center center;
        border: none;
    }
    .fb_soc{
        background: url("../images/soc2-1.png") no-repeat center center;
        border: none;
    }
    .ig_soc{
        background: url("../images/soc3-1.png") no-repeat center center;
        border: none;
    }
    .contacts_block{
        display: none;
    }
    .how_block:before{
        display: none;
    }
    .screen_5 .wrapper{
        padding-left: 0;
    }
    .mob_dn{
        display: none;
    }
    .qb_bot span{
        display: none;
    }
    .pi_m{
        display: block !important;
        width: 200px;
        height: auto;
    }
    .pi_d{
        display: none !important;
    }
    .pib_mob1{
        display: none;
    }
    .pib_mob2{
        display: block;
        margin-top: 20px;
        margin-bottom: 0;
    }
    .pay_title{
        padding-top: 30px;
        margin-bottom: 0;
    }
    .mob_pi{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .pay_title_wp{
        margin-bottom: 20px;
    }
    .mob_img12{
        display: block;
        padding-top: 20px;
    }
    .action_title span{
        font-size: 36px;
    }
    .action_title span i{
        font-size: 24px;
    }
    .action_title br{
        display: block;
    }
    .action_title{
        line-height: 1;
        margin-bottom: 10px;
    }
    .logo {
        position: absolute;
        left: 50%;
        margin-left: -65px;
    }
    .lk_btn
    {
        padding-right:0
    }
    header .wrapper {
        position: relative;
    }
    .mc_input {
        height: 32px;
        font-size: 20px;
    }
    .main_right {
        margin-left: auto;
        margin-right: auto;
    }
    .range_label span {
        font-size: 12px;
        font-weight: 400;
    }
    .mc_input_block span {
        top: -4px;
    }
    .mci_v1 span {
        font-size: 18px;
        right: 14px;
    }
    .mcb_top p {
        font-size: 13px;
        font-weight: 700;
    }
    .mc_bottom {
        padding-top: 10px;
    }
    #range2 + .range_label span {
        font-size: 12px;
    }
    .mob_pi {
        margin-left: auto;
        margin-right: auto;
    }
    .mob_img12 {
        margin-left: auto;
        margin-right: auto;
    }
    .mrt_desctop {
        display: none;
    }
    .mrt_mobile {
        display: block;
    }
    .mob_info_block span {
        color: #ef3624;
    }
    .easy_block {
        position: relative;
    }
    .eb_num.eb_mobile {
        display: block;
        position: absolute;
        top: 2px;
        left: 7px;
        font-size: 12px;
    }
    .pi_line_desctop {
        display: none;
    }
    .pi_line.pi_line_mobile {
        display: flex;
        width: 250px;
    }
    .mobile_fixed header {
        height: 67px;
        width: 100%;
        left: 0;
        top: 0;
        position: fixed;
    }
    .mobile_fixed .page_wp {
        padding-top: 67px;
    }
    .mobile_fixed .mobile_menu {
        position: fixed;
        max-height: calc(100% - 67px);
        height: calc(100% - 67px);
    }
    .mobile_fixed .mobile_scroll {
        width: 100%;
        position: absolute;
        height: calc(100% - 137px);
        top: 10px;
        left: 0;
        overflow: auto;
    }
    .lk_page.mobile_fixed .mobile_scroll {
        height: 100%;
    }
    .lk_page.mobile_fixed .el_wp {
        padding-bottom: 30px;
    }
    .consent_title{
        font-size: 15px;
        text-align: center;
        padding: 10px 0;
    }
    .consent_block.cb_p5{
        padding: 15px 20px 10px 20px;
    }
    .start_title{
        font-size: 14px;
        text-align: center;
        margin-bottom: 15px;
    }
    .start_form input{
        height: 40px;
        margin-bottom: 10px;
        font-size: 14px;
        padding-left: 12px;
    }
    .start_btn{
        width: 100%;
        height: 40px;
        font-size: 14px;
        line-height: 40px;
        margin-right: 0;
        margin-bottom: 10px;
    }
    .start_bottom{
        padding: 10px 20px 20px 20px;
    }
    .gov_service{
        width: 100%;
        height: 40px;
        line-height: 38px;
    }
    .start_text{
        font-size: 12px;
        margin-top: 15px;
    }
    .consent_wp{
        padding-bottom: 10px;
    }
    .login_wp{
        width: 300px;
    }
    .login_title{
        font-size: 15px;
        padding: 12px 15px;
        text-align: center;
    }
    .login_info{
        padding: 20px;
        font-size: 16px;
    }
    .accept_form{
        padding-top: 10px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-top: none;
    }
    .accept_title{
        font-size: 14px;
    }
    .af_input{
        width: 100%;
        height: 40px;
        font-size: 19px;
        margin-bottom: 20px;
    }
    .accept_btns a{
        height: 40px;
        line-height: 40px;
        font-size: 12px;
        margin-bottom: 10px;
    }
    .accept_btns a img{
        height: 23px;
        width: auto;
    }
    .accept_form .consent_check{
        margin-left: 25px;
        margin-bottom: 0;
        transform: scale(0.8);
    }
    .accept_form .consent_check label br{
        display: none;
    }
    .accept_btns{
        margin-bottom: 0;
    }
    .a_btn{
        width: 100%;
        height: 40px;
        font-size: 14px;
        line-height: 40px;
    }
    .login_wp{
        padding-bottom: 0;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .si_block{
        width: 34px;
        height: 34px;
        font-size: 15px;
    }
    .step_info{
        padding: 5px 20px 20px 20px;
        border-bottom: 1px solid #efefef;
    }
    .si_block:before{
        width: 30px;
        height: 2px;
        background-size: 100%;
        right: -37px;
    }
    .sib_card{
        background-size: auto 15px;
    }
    .si_text{
        font-size: 14px;
        padding-top: 5px;
    }
    .si_progress_wp{
        border-top: none;
        padding-top: 0;
    }
    .si_wp{
        padding-bottom: 18px;
    }
    .si_progress{
        width: 100%;
        height: 20px;
        background-size: cover;
        border-radius: 5px;
        overflow: hidden;
    }
    .progress_text{
        font-size: 14px;
        letter-spacing: -0.02em;
    }
    .rf_title{
        text-align: center;
        font-size: 15px;
        padding: 10px 0;
    }
    .step_top{
        padding-bottom: 22px;
    }
    .rf_block{
        width: 100%;
    }
    .rfl_wp{
        padding: 20px 20px 5px 20px;
    }
    .rf_input{
        height: 40px;
        font-size: 14px;
        padding-left: 10px;
    }
    .rf_block{
        margin-bottom: 10px;
    }
    .rf_line{
        margin-bottom: 0;
    }
    .rf_w1{
        width: 47%;
    }
    .rf_w1 .rf_input{
    }
    .rf_w2{
        width: 50%;
    }
    .rf_w2 .rf_input{
    }
    .record_form .consent_check{
        margin-left: 30px;
        transform: scale(0.8);
        margin-top: -20px;
    }
    .record_form .consent_check.cc_notop {
        margin-top: -5px;
    }
    .record_form .consent_check label br{
        display: none;
    }
    .next_btn{
        width: 100%;
        height: 40px;
        font-size: 14px;
        line-height: 40px;
    }
    .next_btn_wp{
        padding: 10px 20px 30px 20px;
        margin-top: 10px;
        border-top: 1px solid #efefef;
    }
    .rf_subtitle br{
        display: none;
    }
    .rf_subtitle{
        font-size: 14px;
        text-align: center;
        margin-bottom: 14px;
    }
    .add_phone {
        height: auto;
        border: none;
        font-size: 14px;
        line-height: 25px;
        background-position: 25px 0;
        margin-top: 10px;
    }
    .rf_add_btn{
        width: 100%;
    }
    .rf_add_text{
        width: 100%;
        order: -1;
        font-size: 14px;
        padding: 0;
        margin-bottom: 15px;
        margin-top: 10px;
    }
    .rf_add{
        padding: 0;
        border: none;
        display: block;
    }
    .rf_subtitle{
        text-align: left;
    }
    .rf_add_btn{
        height: 80px;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
    .rf_add_btn span{
        font-size: 14px;
        left: 60px;
    }
    .rf_right{
        width: 90%;
        margin: 0 auto;
        order: -1;
        background: #eff1f5;
        border-radius: 10px;
        padding: 0;
        margin-bottom: 20px;
    }
    .rf_left{
        width: 100%;
        padding: 0;
    }
    .rfl_title{
        text-align: center;
        font-size: 15px;
    }
    .rfl_title{
        margin-bottom: 0;
        padding-bottom: 20px;
        border-bottom: 1px solid #efefef;
    }
    .rfl_text{
        padding: 20px;
        font-size: 14px;
        margin-bottom: 0;
    }
    .next_btn{
        width: 250px;
        margin: 0 auto;
    }
    .record_final{
        padding-bottom: 15px;
    }
    .sib_card.active{
        background-size: auto 15px;
    }
    .sib_card.passed{
        background-size: auto 15px;
    }
    .consent_check_wp{
        padding: 20px;
    }
    .consent_check_wp p{
        font-size: 14px;
    }
    .consent_check{
        transform: scale(0.8);
        margin-left: 15px;
    }
    .consent_block{
        padding: 0;
    }
    .consent_form{
        width: 100%!important;
    }
    .consent_info{
        width: 100%;
    }
    .cb_title1{
        margin: 0;
        text-align: center;
        padding: 10px 0;
        font-size: 15px;
        border-bottom: 1px solid #efefef;
    }
    .cb_info span{
        display: none;
    }
    .cbi_label{
        display: none;
    }
    .cb_info p{
        width: 100%;
        text-align: center;
        font-size: 14px;
    }
    .cb_info{
        padding-top: 15px;
    }
    .consent_form {
        border-top: 1px solid #ef3624;
    }
    .consent_form .mc_block{
        padding-left: 20px;
        padding-right: 20px;
        background: none;
        border: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        margin-bottom: 0;
    }
    .cp_btn{
        width: 250px;
        margin: 0 auto;
    }
    .consent_promo p{
        width: 100%;
        margin: 0;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 15px;
        font-size: 14px;
    }
    .consent_info{
        display: none;
    }
    .mob_btn{
        display: block;
        width: 250px;
        height: 40px;
        line-height: 40px;
        margin: 0 auto;
    }
    .mob_b_block{
        display: block;
        margin-bottom: 10px;
    }
    .test_title{
        font-size: 14px;
        margin-bottom: 10px;
    }
    .test_subtitle{
        font-size: 14px;
        margin-bottom: 10px;
    }
    .test_img{
        width: 90%;
        height: 160px;
        overflow: hidden;
        border-radius: 10px;
        background: #e5e5e6;
    }
    .load_block{
        margin-bottom: 10px;
    }
    .test_img{
        margin-bottom: 10px;
    }
    .final_top{
        padding: 0;
    }
    .ft_left{
        width: 100%;
        padding-top: 15px;
    }
    .ft_title{
        text-align: center;
        font-size: 16px;
        padding-bottom: 15px;
        border-bottom: 1px solid #efefef;
        margin-bottom: 15px;
    }
    .ft_title span{
        font-size: 15px;
    }
    .ft_text{
        padding: 0 20px;
        font-size: 16px;
    }
    .ft_right{
        width: 100%;
        padding-top: 0;
    }
    .fb_left{
        width: 100%;
        margin-top: 0;
        background: #fafbfc;
    }
    .fb_right{
        width: 100%;
        margin: 0;
    }
    .fb_left .consent_info{
        display: block;
    }
    .fbl_title{
        padding: 10px 20px;
        font-size: 15px;
    }
    .cs_line{
        padding: 5px 20px;
        border: none;
    }
    .cs_line span{
        font-size: 14px;
    }
    .cs_line p{
        font-size: 14px;
    }
    .fb_left .consent_check{
        margin-left: 40px;
    }
    .ci_bot{
        padding: 10px 0 15px 0;
    }
    .fb_right .login_info{
        text-align: left;
        font-size: 14px;
    }
    .fb_right .accept_form{
        padding: 20px 20px 7px 20px;
    }
    .cd_link{
        font-size: 12px;
    }
    .cd_w_text{
        font-size: 14px;
    }
    .a_btn{
        width: 250px;
        margin: 0 auto;
        margin-bottom: 15px;
    }
    .wp_p1{
        padding-bottom: 25px;
    }
    .prigress_step4{
        background: url("../images/progress3.png") no-repeat;
        background-size: 100%;
    }
    .jq-selectbox__select {
        padding: 10px 0 0 10px;
        font-size: 14px;
        height: 40px;
    }
    .jq-selectbox li {
        min-height: 30px;
        height: 30px;
        padding-left: 10px;
        font-weight: 300;
        line-height: 30px;
        font-size: 14px;
    }
    .jq-selectbox__trigger {
        right: 14px;
        width: 9px;
        height: 100%;
    }
    .jq-selectbox__trigger-arrow {
        background-size: 9px 5px;
    }
    .lk_page .fc_social>p, .lk_page .fc_w2, .lk_page .fc_w3, .lk_page .mob_company_info, .lk_page .f_logo_mob {
        display: none
    }
    .lk_page .copyright {
        padding-bottom: 15px;
    }
    .lk_page .footer_bot .mob_bg {
        padding-bottom: 0;
    }
    .rf_w1 .rf_input:focus {
        border-right: 1px solid #ef3624;
    }
    .mob_bg1{
        background: #fafbfc;
    }
    .promo_input2{
        font-size: 12px;
        height: 32px;
        background: #fff;
    }
    .cp_btn{
        height: 32px;
        line-height: 32px;
    }
    .mob_btn{
        font-size: 14px;
    }
    .ti_m{
        display: inline-block !important;
    }
    .ti_d{
        display: none !important;
    }
    .test_img{
        width: 100%;
        background: none;
        text-align: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .test_subtitle{
        margin-bottom: 30px;
    }
    .ftr_m{
        display: inline-block !important;
    }
    .ftr_d{
        display: none !important;
    }
    .ft_right{
        text-align: center;
        padding: 20px 0;
        border-bottom: 0;
    }
    .fbl_title{
        color: #302e34;
        background: #fafbfc;
    }
    .consent_check {
        transform: scale(0.9);
        margin-left: 15px;
    }
    .fb_left{
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    .cib_m_bg1{
        background: #fff;
        margin-top: 10px;
    }
    .ci_p1{
        padding-top: 7px;
    }
    .fb_left{
        border-bottom: none;
    }
    .fb_right{
        padding-top: 10px;
    }
    .d_desctop {
        display: inline;
    }
    .cs_line span.d_tablet {
        display: none;
    }
    .d_mobile {
        display: block;
    }
    .input_wp {
        position: relative;
    }
    .input_wp input+p {
        font: 14px 'Lato';
        font-weight: 300;
        position: absolute;
        top: 10px;
        left: 12px;
    }
    .input_wp input:focus {
        padding-top: 12px;
    }
    .input_wp input:focus+p {
        left: 13px;
        font: 11px 'Lato';
        top: 5px;
    }
    .focused.input_wp input + p {
        left: 13px;
        font: 11px 'Lato';
        top: 5px;
    }
    .focused.input_wp input {
        padding-top: 12px;
    }
    .input_wp textarea+p {
        font: 14px 'Lato';
        font-weight: 300;
        position: absolute;
        top: 10px;
        left: 12px;
    }
    .input_wp textarea:focus {
        padding-top: 12px;
    }
    .input_wp textarea:focus+p {
        left: 13px;
        font: 11px 'Lato';
        top: 5px;
    }
    .focused.input_wp textarea + p {
        left: 13px;
        font: 11px 'Lato';
        top: 5px;
    }
    .focused.input_wp textarea {
        padding-top: 18px;
    }
    .input_wp {
        position: relative;
        transition: 0.2s all ease;
        width: 100%;
    }
    .input_wp .jq-selectbox+p {
        font: 14px 'Lato';
        font-weight: 300;
        position: absolute;
        top: 10px;
        left: 13px;
        transition: 0.2s all ease;
        z-index: 999;
    }
    .input_wp .jq-selectbox.changed+p {
        left: 12px;
        font: 11px 'Lato';
        top: 5px;
    }
    .jq-selectbox__select-text {
        top: 8px;
    }
    .cb_info p a {
        font-weight: 800;
    }
    .accept_repeat img {
        /*filter: grayscale(100);*/
    }
    .accept_change img {
        /*filter: grayscale(100);*/
    }
    .si_block.active {
        box-shadow: none;
    }
    .step_5 .si_text {
        display: none;
    }
    .prigress_step5 {
        display: none;
    }
    .step_5 .progress_text {
        padding-top: 0;
    }
    .step_5 .progress_text br {
        display: none;
    }
    .step_5 .progress_text br.d_mobile {
        display: block;
    }
    .step_5  .si_wp{
        padding-bottom: 0;
    }
    .step_5 .step_top{
        padding-bottom: 0;
    }
    .step_5 .progress_text{
        padding: 20px 30px 23px 30px !important;
    }
    .step_5 .si_progress_wp{
        padding: 0;
    }
    .step_5 .progress_text{
        background: #fafbfc;
    }
    .step_5 .record_final{
        padding-bottom: 20px;
    }
    .consent_check input[type="checkbox"] + label::before {
        left: -29px;
    }
    .consent_mobile_text p {
        font-size: 14px;
        font-weight: 300;
    }
    .consent_mobile_text {
        padding: 20px;
    }
    .consent_form .mcb_top {
        padding: 0;
    }
    .consent_check_wp>p {
        display: none;
    }
    .consent_check_wp {
        border-top: 1px solid #efefef;
        background: #fafbfc;
    }
    .consent_check {
        margin-top: 0;
    }
    .promo_input2 {
        background: #fff;
    }
    .login_info {
        border-bottom: none;
    }
    .acf-v2 {
        border-bottom: 1px solid #efefef;
    }
    .login_info b {
        font-weight: 300;
    }
    .mobile_q_btn {
        display: block;
        margin-top: 7px;
        text-decoration: underline;
    }
    .consent_promo .input_wp {
        display: block;
        margin: 0 auto;
    }
    .input_wp .cp_btn input + p {
        top: 6px;
        left: 0;
        cursor: text;
        padding:0;
    }
    .input_wp .cp_btn input:focus {
        padding-top: 20px;
        transition: 0.2s all ease;
    }
    .input_wp .cp_btn input:focus+p {
        top: 3px;
        color: #ccc;
        left: -80px;
    }
    .input_wp .cp_btn.focused input+p {
        top: 3px;
        font-size: 11px;
        color: #ccc;
        left: -80px;
    }
    .input_wp .cp_btn.focused input {
        padding-top: 10px;
    }
    .input_wp .cp_btn input:focus {
        padding-top: 10px;
    }
    .fb_right .login_info{
        display: none;
    }
    .fb_right .accept_form {
        display: none;
    }
    .fb_right .cd_link {
        display: none;
    }
    .fb_right .cd_w_text {
        display: none;
    }
    .fb_right .ci_bot {
        margin-top: 0;
    }
    .fb_left .consent_info {
        padding-bottom: 10px;
    }
    .fb_right .consent_check {
        left: -12px;
    }
    .lk_wp{
        width: 100%;
    }
    .lk_title{
        font-size: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .lk_input{
        height: 40px;
        font-size: 14px;
        padding-left: 10px;
        margin-bottom: 10px;
    }
    .lk_top{
        padding-left: 23px;
        padding-right: 23px;
    }
    .pass_eye{
        width: 47px;
        height: 38px;
    }
    .lk_check input[type='checkbox'] + label:before{
        content: '';
        width: 23px;
        height: 20px;
        display: block;
        background: url("../images/check10.png") no-repeat;
        margin-right: 10px;
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 45px;
    }
    .lk_check input[type='checkbox']:checked + label:before{
        background-position: 0 -20px;
    }
    .lk_check label{
        font-size: 14px;
    }
    .lkf_bot{
        padding-left: 23px;
        padding-right: 23px;
        padding-bottom: 30px;
    }
    .lk_form_btn{
        font-size: 14px;
        height: 40px;
        line-height: 40px;
    }
    .lk_links a{
        font-size: 14px;
    }
    .my_data{
        display: none;
    }
    .name_text{
        display: none;
    }
    .exit_link{
    }
    .change_pass .lk_pass{
        margin-bottom: 10px;
    }
    .pass_attention{
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
    }
    .pass_attention p{
        font-size: 14px;
    }
    .pass_attention p br{
        display: none;
    }
    .loan_title{
        font-size: 15px;
        padding-top: 25px;
        padding-bottom: 15px;
    }
    .loan_title span{
        font-size: 14px;
    }
    .loan_center .consent_block{
        padding-top: 0;
    }
    .loan_center .cb_title1{
        margin: 0;
        font-size: 16px;
        padding-bottom: 15px;
    }
    .loan_form{
        padding: 0;
    }
    .loan_bot{
        display: none;
    }
    .loan_btn .lk_form_btn{
        width: 100%;
    }
    .mob_b_block .consent_promo{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 0 20px;
    }
    .mob_b_block .consent_promo p{
        font-size: 14px;
        width: 50%;
        text-align: left;
    }
    .mob_b_block .cp_btn input{
        width: 100%;
    }
    .mob_b_block .cp_btn{
        width: 49%;
        margin-top: 20px;
    }
    .mob_bonus_f .bonus_block{
        width: 100%;
        background: #fff;
    }
    .mob_bonus_f .bonus_block:first-child{
        border-right: 1px solid #e1e2e3;
    }
    .bonus_title{
        font-size: 15px;
        padding-bottom: 15px;
    }
    .bonus_block{
        padding-top: 20px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 20px;
    }
    .bonus_block .lk_links{
        padding-left: 0;
        padding-right: 0;
    }
    .bi_v1{
        padding-top: 20px;
    }
    .bonus_attention{
        font-size: 14px;
        text-align: left;
        padding: 10px;
    }
    .bf_mob{
        width: 100%;
        margin-bottom: 10px;
    }
    .bonus_input{
        height: 40px;
    }
    .bf_mob .input_wp:first-child {
        margin-bottom: 10px;
    }
    .bonus_pole{
        width: 100%;
        height: 90px;
    }
    .bonus_pole_wp {
        width: 100%;
    }
    .add_file{
        width: 100%;
    }
    .bf_mob1 .lkf_bot{
        width: 100%;
    }
    .bf_btn{
        height: 50px;
        line-height: 46px;
        border: 2px solid #ef3624;
        color: #000;
    }
    .approval_wp{
        padding: 0;
    }
    .lib_left{
        font-size: 14px;
    }
    .lib_right{
        font-size: 14px;
    }
    .li_block{
        margin-bottom: 16px;
    }
    .lib_btn{
        font-size: 12px;
        width: 100%;
        height: 34px;
        line-height: 30px;
    }
    .lib_btn:before{
        left: 5px;
    }
    .li_top{
        padding-left: 25px;
        padding-right: 25px;
    }
    .approved_btn{
        width: 110px;
        height: 40px;
        line-height: 40px;
        font-size: 12px;
        background-position: 10px center;
        padding-left: 42px;
    }
    .lib_btns{
        padding: 0 25px;
    }
    .get_link{
        font-size: 14px;
    }
    .condition_text{
        padding-top: 15px;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 14px;
        margin-bottom: 20px;
    }
    .condition_text br{
        display: none;
    }
    .li_p1 .li_top{
        padding-top: 15px;
    }
    .lib_bg1{
        background-size: auto 100%;
    }
    .lib_bg2{
        background-size: auto 100%;
    }
    .lib_bg3{
        background-size: auto 100%;
    }
    .lk_check_dop{
        padding-left: 50px;
        margin-top: 20px;
    }
    .lk_check_dop input[type='checkbox'] + label:before{
        top: 0 !important;
        left: 20px;
    }
    .lk_check_link{
        font-size: 14px;
        left: 50px;
    }
    .condition_check{
        margin-bottom: 40px;
    }
    .lk_header{
        padding-top: 10px;
        padding-bottom: 0;
        padding-bottom: 10px;
    }
    .lib_right a{
        display: block;
        text-align: right;
        margin-bottom: 3px;
    }
    .card_choice_block{
        padding: 20px;
    }
    .card_choice_block>p{
        font-size: 16px;
    }
    .cc_select .jq-selectbox__trigger{
        width: 40px;
    }
    .add_card_block a span{
        font-size: 14px;
    }
    .card_info_block{
        padding: 20px;
    }
    .card_info_block>p{
        font-size: 16px;
    }
    .summa_text{
        padding-top: 0;
    }
    .pay_loan_form .a_btn{
        margin-top: 0;
        margin-bottom: 0;
    }
    .pl_a{
        font-size: 12px;
    }
    .lib_right .bid_btn{
        font-size: 14px;
        padding: 0 5px;
        height: 26px;
        line-height: 24px;
    }
    .bonus_input{
        font-size: 14px;
    }
    .bonus_pole{
        font-size: 14px;
    }
    .bid_wp .loan_info{
        margin-bottom: 0;
    }
    .question_wp{
        padding: 20px;
    }
    .q_title{
        font-size: 16px;
        padding: 0 15px;
    }
    .qb_top2 p{
        font-size: 14px;
        padding-right: 40px;
    }
    .qb_bot2 p{
        font-size: 14px;
    }
    .qb_top2{
        padding: 10px 20px;
    }
    .qb_bot2{
        padding: 10px 20px;
    }
    .qb_top2 span{
        width: 28px;
        height: 28px;
    }
    .q_block{
        margin-bottom: 10px;
    }
    .mb_text{
        font-size: 14px;
        background-size: 30px auto;
        padding-left: 35px;
    }
    .message_block{
        position: relative;
    }
    .mb_num{
        font-size: 10px;
        width: 18px;
        height: 18px;
        line-height: 18px;
        position: absolute;
        top: 50%;
        margin-top: -8px;
        right: -8px;
    }
    .at_mob_link{
        display: none;
    }
    .appeal_top{
        padding: 20px;
    }
    .at_title{
        font-size: 14px;
    }
    .at_text{
        width: 100%;
        font-size: 14px;
    }
    .appeal_message{
        padding: 20px;
    }
    .amb_data{
        font-size: 14px;
    }
    .amb_data span{
        font-size: 14px;
    }
    .am_text p{
        font-size: 12px;
    }
    .am_text a{
        font-size: 12px;
        background-size: auto 100%;
        padding-left: 20px;
    }
    .am_text{
        width: 79%;
        padding: 10px;
    }
    .am_text:before{
        width: 20px;
        height: 23px;
        background-size: 100%;
        bottom: -10px;
        right: -12px;
    }
    .am_block.answer .am_text:before{
        width: 20px;
        height: 23px;
        background-size: 100%;
        bottom: -10px;
        left: -12px;
    }
    .amb_img.online:before{
        width: 12px;
        height: 12px;
        background-size: 100%;
    }
    .appeal_message .bonus_pole{
        height: 40px;
        padding: 10px 0 0 15px;
    }
    .pay_table .table_caption{
        display: none !important;
    }
    .pay_table table{
        display: block;
    }
    .pay_table table tbody{
        display: block;
    }
    .pay_table table tr{
        display: block;
        padding: 15px 0 1px 0;
    }
    .pay_table table td{
        display: block;
        width: 100% !important;
        padding: 0 20px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-bottom: 15px;
    }
    .pay_table{
        padding: 0 20px 10px 20px;
    }
    .pt_bold_text{
        font-size: 14px;
        width: 130px;
    }
    .pt_text{
        font-size: 14px;
        width: 130px;
        padding-right: 0;
    }
    .mob_table_text{
        display: block;
        font-size: 14px;
        width: 80px;
    }
    .pay_table table .tl_bg1{
        background: #f1f6f9;
    }
    .mbt_left{
        width: 100%;
    }
    .mbt_right{
        width: 100%;
    }
    .mbt_block_wp{
        padding: 0;
    }
    .mbt_block{
        margin-top: 15px;
    }
    .bi_title{
        font-size: 16px;
    }
    .mbt_left .bonus_info p{
        font-size: 48px;
    }
    .mbt_left .lk_links a{
        font-size: 14px;
    }
    .mbt_left .lk_links{
        padding: 0 20px;
    }
    .mbt_text{
        font-size: 14px;
        text-align: center;
    }
    .my_bonus_top{
        padding-bottom: 0;
    }
    .mbb_title{
        font-size: 15px;
    }
    .mi_top{
        width: 100%;
    }
    .mi_text{
        width: 100%;
    }
    .mi_top p{
        font-size: 14px;
    }
    .mi_text{
        font-size: 14px;
        height: auto;
        padding: 15px;
    }
    .mi_link{
        font-size: 14px;
    }
    .mbb_text{
        padding: 0;
        font-size: 14px;
        text-align: center;
    }
    .mit_img img{
        height: 50px;
        width: auto;
    }
    .personal_subtitle{
        font-size: 16px;
        text-transform: inherit;
        padding-top: 10px;
    }
    .personal_title{
        font-size: 15px;
        padding: 20px 0;
    }
    .personal_soc_btn{
        font-size: 14px;
    }
    .pb_check label{
        font-size: 14px;
    }
    .pb_check{
        margin-right: 10px;
    }
    .add_link a{
        font-size: 14px;
        padding-top: 0;
    }
    .add_link{
        padding-top: 5px;
        margin-bottom: 10px;
    }
    .personal_card_block{
        width: 100%;
    }
    .pcb_left{
        font-size: 14px;
    }
    .pcb_right{
        font-size: 14px;
    }
    .pcb_info div{
        margin-bottom: 20px;
    }
    .add_doc_btn{
        padding-left: 50px;
        background-size: auto 20px;
        background-position: 20px center;
    }
    .modal_w1{
        width: 300px;
    }
    .modal_w2{
        width: 300px;
    }
    .fancybox-close-small{
        top: 20px;
        right: 20px;
    }
    .thank_img img{
        width: 50px;
        height: auto;
    }
    .thank_title{
        font-size: 15px;
        margin-bottom: 10px;
    }
    .thank_text1{
        font-size: 14px;
    }
    .thank_text2{
        font-size: 14px;
    }
    .m_order{
        padding-top: 20px;
    }
    .m_order .add_file{
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .m_order .consent_btn{
        height: 40px;
        line-height: 40px;
    }
    .m_order .test_img{
        height: auto;
    }
    .m_order .test_wp{
        border-top: none;
    }
    .modal_w3{
        width: 300px;
    }
    .mo_pn{
        padding-top: 0;
    }
    .pay_loan_img2{
        width: 258px;
    }
    .pay_loan_img2 img{
        width: 75px !important;
        height: auto !important;
    }
    .afi_img{
        top: 9px;
        right: 90px;
    }
    .afi_img img{
        height: 15px;
        width: auto;
    }
    .ab_mob{
        /*order: -1;*/
        border-radius: 3px;
        margin-top:15px;
    }
    .lk_check input[type="checkbox"] + label:before{
        left: 20px;
    }
    .lk_check{
        padding-left: 50px;
    }
    .cc_w1 .lk_check_link{
        top: 25px;
        left: 50px;
    }
    .lib_right{
        text-align: right;
    }
    .lib_right .bid_btn{
        margin-top: 5px;
    }
    .lk_input{
        margin-bottom: 0;
    }
    .lk_form .input_wp{
        margin-bottom: 10px;
    }
    .lk_check input[type="checkbox"] + label:before{
        left: 60px;
        top: -2px;
    }
    .lk_check{
        padding-left: 25px;
    }
    .lkf_bot{
        padding-top: 10px;
    }
    .lk_form_btn{
        height: 47px;
        line-height: 47px;
    }
    .lk_p1{
        padding-bottom: 0;
    }
    .pass_attention p span{
        font-size: 14px;
    }
    .pass_attention{
        margin-top: 20px;
        padding-top: 12px;
    }
    .lkf_bot{
        padding-bottom: 10px;
    }
    .mob_b_block{
        background: none;
        padding-top: 0;
        padding-bottom: 0;
        border-bottom: none;
        margin-bottom: 0;
    }
    .mob_b_item{
        background: #fff;
        padding-bottom: 10px;
        padding-top: 10px;
        border: 1px solid #e1e2e3;
        -webkit-box-shadow: 0px 0px 24px 0px rgba(204,204,204,0.33);
        -moz-box-shadow: 0px 0px 24px 0px rgba(204,204,204,0.33);
        box-shadow: 0px 0px 24px 0px rgba(204,204,204,0.33);
    }
    .mob_b_block .consent_promo{
        background: #fff;
        border: 1px solid #e1e2e3;
        -webkit-box-shadow: 0px 0px 24px 0px rgba(204,204,204,0.33);
        -moz-box-shadow: 0px 0px 24px 0px rgba(204,204,204,0.33);
        box-shadow: 0px 0px 24px 0px rgba(204,204,204,0.33);
        margin-top: 10px;
        padding-top: 10px;
    }
    .mob_b_block .consent_promo p{
        line-height: 14px;
    }
    .mob_b_block .cp_btn input{
        width: 110px;
        height: 40px;
        background: #f6f7fa;
        position: static;
        margin-top: 12px;
    }
    .mob_b_block .cp_btn{
        width: auto;
        margin: 0;
    }
    .lk_left{
        margin-bottom: 0;
    }
    .mob_bonus_f .bonus_block{
        border: none !important;
        margin-bottom: 0;
    }
    .mob_bonus_f{
        background: #fff;
        border: 1px solid #e1e2e3;
        -webkit-box-shadow: 0px 0px 24px 0px rgba(204,204,204,0.33);
        -moz-box-shadow: 0px 0px 24px 0px rgba(204,204,204,0.33);
        box-shadow: 0px 0px 24px 0px rgba(204,204,204,0.33);
    }
    .mob_bonus_f .bonus_block:first-child {
        border-bottom: 1px solid #e1e2e3;
    }
    .bonus_forma{
        margin-top: 10px;
    }
    .loan_title{
        padding-bottom: 10px;
        padding-top: 20px;
    }
    .lkl_top_p1{
        padding-bottom: 0;
    }
    .condition_check .lk_check input[type="checkbox"] + label::before{
        left: 20px;
    }
    .condition_check .lk_check{
        padding-left: 50px;
    }
    .mob_bonus_f .bonus_block:last-child{
        border-bottom: none !important;
    }
    .lt_link{
        font-size: 14px;
        font-weight: 400;
    }
    .loan_title_v2 p span{
        margin-bottom: 7px;
    }
    .loan_title_v2{
        padding-bottom: 20px;
    }
    .lib_right a{
        font-size: 14px;
    }
    .lib_right.lib_mob_p1 a{
        font-size: 12px;
    }
    .li_p2{
        margin-bottom: 0;
    }
    .lkf_bot_p1{
        padding-top: 20px;
    }
    .lk_form_btn_bg1{
        margin-top: 10px !important;
    }
    .lkf_attention{
        font-size: 14px;
    }
    .pay_loan_img img{
        width: 250px;
        height: auto;
    }
    .loan_center .accept_title{
        font-size: 16px;
        padding-top: 10px;
    }
    .loan_center .af_input{
        margin-bottom: 10px;
    }
    .afi_block{
        padding-bottom: 5px;
        border-bottom: 1px solid #e1e2e3;
        margin-bottom: 10px;
    }
    .pay_loan_form .a_btn{
        height: 47px;
        line-height: 47px;
    }
    .card_choice_block>p{
        margin-bottom: 23px;
    }
    .card_choice_block{
        padding-bottom: 25px;
        margin-bottom: 18px;
    }
    .summa_text{
        font-size: 18px;
    }
    .lb_mob_p1{
        padding-top: 15px;
    }
    .bf_mob_m1{
        margin-top: 0;
    }
    .lib_right .bid_link{
        font-size: 12px;
    }
    .li_mob_bg1{
        background: #fff;
    }
    .bid_wp .loan_info .li_top{
        padding-bottom: 8px;
    }
    .bf_btn{
        font-size: 14px;
        font-weight: 400;
        height: 45px;
        line-height: 41px;
    }
    .bonus_block{
        padding-left: 25px;
        padding-right: 25px;
    }
    .qb_bot2{
        padding-bottom: 20px;
    }
    .qb_top2 span{
        width: 26px;
        height: 26px;
        background-size: 10px auto;
    }
    .q_title{
        padding-top: 5px;
    }
    .add_file a{
        width: 100%;
        text-align: center;
    }
    .add_file{
        font-size: 14px;
    }
    .message_block{
        margin-bottom: 10px;
    }
    .am_block.answer .amb_data{
        margin-left: 57px;
    }
    .am_block{
        margin-bottom: 25px;
    }
    .amb_data{
        margin-bottom: 10px;
    }
    .lb_mob_p2{
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 15px !important;
    }
    .appeal_message{
        padding-bottom: 3px;
    }
    .pay_table{
        padding: 0;
    }
    .mbt_left{
        padding-bottom: 20px;
    }
    .mbt_text{
        padding-bottom: 35px;
    }
    .my_bonus_top{
        margin-bottom: 10px;
    }
    .mbb_title{
        padding-top: 23px;
    }
    .mi_top{
        height: 75px;
    }
    .mi_text{
        padding-bottom: 40px;
        border-radius: 7px;
    }
    .mbb_item {
        border: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    .mi_wp{
        margin-bottom: 0;
    }
    .mbb_text{
        padding-top: 10px;
    }
    .personal_form .rfl_wp{
        padding-top: 0;
    }
    .personal_subtitle{
    }
    .personal_soc_btn{
        height: 55px;
        background-size: 35px auto;
        line-height: 55px;
    }
    .personal_subtitle{
        text-transform: uppercase;
        font-size: 15px;
        color: #36333b;
        padding-bottom: 10px;
        margin-bottom: 15px;
    }
    .ps_mob_v1{
        text-transform: inherit;
        border-bottom: none;
        padding-bottom: 20px;
        margin-bottom: 0;
    }
    .add_link{
        padding-top: 0;
    }
    .pcb_img{
        padding-top: 0;
        margin-bottom: 12px;
    }
    .pcb_img img{
        width: 190px;
        height: auto;
    }
    .personal_card_wp{
        padding: 0;
    }
    .pcb_info{
        padding: 10px 20px 1px 20px;
    }
    .personal_card_block{
        margin-bottom: 15px;
    }
    .add_doc_btn{
        background-size: 18px auto;
    }
    .rfl_mob_bn{
        border: none;
    }
    .fancybox-close-small{
        width: 35px;
        height: 35px;
    }
    .m_order{
        padding-top: 0;
    }
    .m_order .test_wp{
        padding-top: 0;
    }
    .m_order .loan_title{
        padding-bottom: 5px;
        border-bottom: 1px solid #e1e2e3;
        margin-bottom: 15px;
    }
    .m_order .login_title{
        padding-top: 25px;
        padding-bottom: 25px;
        border-bottom: 1px solid #e1e2e3;
        margin-bottom: 15px;
    }
    .thank_wp{
        padding-top: 60px;
    }
    .m_order .test_wp{
        padding-top: 60px;
    }
    .lk_input_mob_bold{
        font-weight: 700;
    }
    .pass_attention{
        margin-top: 10px;
    }
    .gl_mob_dn{
        display: none;
    }
    .loan_title b{
        text-transform: uppercase;
    }
    .lib_mob_p1{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        flex-direction: column;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
    }
    .lib_mob_p1 span{
        order: -1;
    }
    .lib_mob_p1 a{
    }
    .lib_left br{
        display: block;
    }
    .card_info_block{
        padding-bottom: 0;
    }
    .cc_select .jq-selectbox li{
        font-size: 12px;
    }
    .jq-selectbox__select-text{
        font-size: 12px;
    }
    .lr_mob_bold{
        font-weight: 900;
    }
    .lr_mob_flex{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        flex-direction: column;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
    }
    .lr_mob_flex .bid_btn{
        order: -1;
        position: relative;
        top: 5px;
        margin-bottom: 10px;
    }
    .mb_text{
        background: url("../images/ico54-1.png") no-repeat 0 center;
        background-size: 30px auto;
    }
    .all_mob_dn .at_link{
        display: block;
    }
    .at_title{
        margin-bottom: 5px;
    }
    .am_text a{
        margin-top: 15px;
    }
    .mbb_title{
        border-bottom: 1px solid #e1e2e3;
        margin-bottom: 10px;
        padding-bottom: 15px;
        padding-top: 15px;
    }
    .mbt_text{
        line-height: 18px;
    }
    .ps_mob_v1{
        font-weight: 700;
        color: #58545f;
        padding-top: 15px;
    }
    .pb_check input[type="radio"] + label::before{
        width: 20px;
        height: 20px;
        background: url("../images/check11.png") no-repeat;
    }
    .pb_check input[type="radio"]:checked + label::before {
        background-position: 0 -20px;
    }
    .pbc_title{
        line-height: 1;
        position: relative;
        top: -2px;
    }
    .record_form .consent_check{
        margin-left: 0;
    }
    .rf_block_m_p1{
        padding-top: 12px;
        margin-bottom: 18px;
    }
    .ps_p1{
        padding-top: 25px;
    }
    .add_link{
        margin-bottom: 15px;
    }
    .personal_subtitle br{
        display: block;
    }
    .cc_notop{
        padding-bottom: 15px;
    }
    .pcb_mob_dn{
        display: none;
    }
    .lkc_mob_m1{
        margin-top: 15px;
    }
    .lkm_mob_p1{
        padding-bottom: 20px;
    }
    .lkt_mob_p1{
        padding-bottom: 10px;
    }
    .cbt_mob_b1{
        border-bottom: none;
        padding-bottom: 0 !important;
        font-weight: 700;
    }
    .cbi_mob_p1{
        padding-bottom: 13px;
        padding-top: 5px;
    }
    .lt_mob_f1{
        font-weight: 900;
    }
    .lt_mob_f1 span{
        font-weight: 400;
    }
    .mob_b_block .consent_promo{
        margin-top: 5px;
    }
    .bb_mob_m1{
        margin-bottom: 10px !important;
    }
    .mbf_bg1{
        background: none;
        border: none !important;
    }
    .mob_bonus_f .bb_mob_b1{
        border: 1px solid #e1e2e3 !important;
    }
    .lkf_mob_gray{
        position: relative;
    }
    .lkf_mob_gray .bf_btn{
        position: relative;
        z-index: 1000;
    }
    .lkf_mob_gray:before{
        content: '';
        width: 297px;
        height: 74px;
        background: #fafbfc;
        border-top: 1px solid #f2f2f2;
        position: absolute;
        top: -10px;
        left: -25px;
        display: block;
    }
    .af_mob_m1{
        margin-bottom: 27px;
    }
    .bb_mob_dn{
        display: none;
    }
    .cc_p1{
        margin-bottom: 35px;
        margin-top: 5px;
    }
    .lt_mob_f2{
        font-weight: 900;
    }
    .lt_mob_f2 p span{
        font-weight: 400;
        margin-top: 3px;
        margin-bottom: 10px;
    }
    .lt_mob_f3{
        font-weight: 900;
    }
    .afi_block_mob_b1{
        border: none;
        position: relative;
    }
    .afi_block_mob_b1:before{
        content: '';
        width: 297px;
        height: 1px;
        background: #e1e2e3;
        position: absolute;
        top: 55px;
        left: -20px;
        display: none;
    }
    .li_mob_bg1{
        background: #f1f6f9 !important;
    }
    .li_mob_bg2{
        background: #fff;
    }
    .at_link{
        padding-right: 0;
        margin-right: 0;
        font-size: 12px;
    }
    .am_pn{
        padding-right: 0 !important;
    }
    .mi_text .mi_link{
        bottom: 15px;
    }
    .mi_top p br{
        display: block;
    }
    .mit_p1{
        padding-bottom: 15px;
    }
    .ps_p1{
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .record_form .consent_check.cc_nt1{
        margin-top: 5px;
    }
    .al_p3{
        padding-top: 0;
        margin-top: -3px;
    }
    .pc_p1{
        padding-bottom: 20px;
    }
    .pcb_mob_mn{
        margin-bottom: 0;
    }
    .al_m2{
        margin-top: -8px;
    }
    .lkf_p2{
        padding-bottom: 20px;
    }
    .mo_p2 .test_wp{
        padding-top: 0;
    }
    .mob_m_p1{
        padding: 0 15px;
    }
    .test_text{
        font-size: 16px;
    }
    .mo_p2 .consent_btn{
        font-size: 14px;
        font-weight: 700;
    }
    .modal_w2 .test_subtitle{
        font-size: 14px;
    }
    .mo_p2 .login_title{
        padding-bottom: 15px;
    }
    .m_c1 .fancybox-close-small{
        top: 15px;
    }
    .ti_mob_w1 img{
        width: 90% !important;
        height: auto;
    }
    .tt_bg1{
        background: none;
        padding-left: 0 !important;
        margin-bottom: 10px !important;
    }
    .mob_mi_f{
        width: 100%;
    }
    .mi_text{
        padding-bottom: 20px;
    }
    .lk_h_block .exit_link {
        display: none;
    }
    .loan_form .consent_form {
        border-top: 1px solid #ff6f37;
    }
    .mob_bonus_f {
        box-shadow: none;
    }
    .mob_bonus_f .bonus_block {
        -webkit-box-shadow: 0px 0px 24px 0px rgba(204,204,204,0.33);
        -moz-box-shadow: 0px 0px 24px 0px rgba(204,204,204,0.33);
        box-shadow: 0px 0px 24px 0px rgba(204,204,204,0.33);
    }
    .condition_check .lk_check {
        margin-left: 40px;
    }
    .cc_w1 .lk_check_link {
        top: 25px;
        left: 90px;
    }
    .mob_center {
        justify-content: center;
    }
    .mi_top br.br_desctop {
        display: none;
    }
    .mi_top br.br_mobile {
        display: block;
    }
    .mi_top p {
        width: 130px;
    }
    #modal4 .ti_d {
        display: none;
    }
    #modal4 .ti_m {
        display: block;
    }
    #modal4 .lkf_bot {
        margin-left: -15px;
        margin-right: -15px;
        padding-bottom: 30px;
    }
    #modal4 .m_order {
        padding-bottom: 0;
    }
    #modal4 {
        padding-bottom: 0;
    }
    #modal4 .m_order .consent_btn {
        height: 50px;
        line-height: 50px;
    }
    #modal2 .consent_btn {
        height: 50px;
        line-height: 50px;
    }
    .modal_p1 .thank_text2 {
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
    .lk_left .lkf_bot {
        padding-bottom: 10px;
    }
    .my_bonus_block {
        margin-bottom: 10px;
    }
    .my_bonus_block:last-child {
        margin-bottom: 0;
    }
    .pcw_desctop {
        display: none;
    }
    .pcw_mobile {
        display: block;
        padding-bottom: 20px;
    }
    .scpagination {
        text-align: center;
        bottom: -10px!important;
        position: relative;
    }
    .mob_bonus_f {
        margin-top: 10px;
    }
    .bonus_forma {
        margin-top: 10px;
    }
    .lkf_attention {
        padding-top: 10px;
        padding-bottom: 5px;
    }
    #modal2 .m_order .login_title {
        padding-bottom: 24px;
        padding-top: 24px;
    }
    #modal4 .loan_title {
        padding-bottom: 16px;
        position: relative;
        top: -5px;
    }
    .bc_mob_dn{
        display: none;
    }
    .doc_title{
        display: none;
    }
    .doc_wpp{
        background: #f1f3f7;
    }
    .mob_doc_title{
        display: block;
    }
    .doc_block p{
        font-size: 18px;
        line-height: 18px;
        padding-right: 10px;
    }
    .doc_block{
        padding-left: 69px;
        height: auto;
        background: #fff;
        border: none;
        border-bottom: 1px solid #e5e5e5;
        padding-top: 12px;
        padding-bottom: 12px;
        border-radius: 0;
        margin-bottom: 0;
    }
    .doc_wpp{
        padding-bottom: 20px;
    }
    .breadcrumbs{
        display: none;
    }
    .mob_p1{
        background: #fff;
        border: 1px solid #e5e5e5;
        -webkit-box-shadow: 0px 0px 24px 0px rgba(204,204,204,0.35);
        -moz-box-shadow: 0px 0px 24px 0px rgba(204,204,204,0.35);
        box-shadow: 0px 0px 24px 0px rgba(204,204,204,0.35);
    }
    .how_2_wp{
        background: none;
        height: auto;
        margin-bottom: 10px;
    }
    .page_mob_bg2{
        background: #f1f3f7;
    }
    .mdt_p1{
        padding-top: 5px;
    }
    .h2_title{
        text-align: center;
        font-size: 15px;
        padding-top: 10px;
        border-bottom: 1px solid #e5e5e5;
        padding-bottom: 15px;
    }
    .h2_text{
        width: 100%;
        font-size: 14px;
        line-height: 14px;
        padding-left: 30px;
        padding-right: 20px;
        margin-bottom: 20px;
    }
    .mob_how_img{
        display: block;
    }
    .how_2_wp .pi_line{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        width: 250px;
        margin: 0 auto;
        padding-bottom: 25px;
    }
    .how_2_wp .pi_line img{
        width: 70px;
        height: auto;
    }
    .how_dop_wp{
        background: #f1f3f7;
    }
    .h2_title_mob{
        display: block;
        padding-top: 20px;
        margin-bottom: 0;
    }
    .h2_title_mob span{
        display: inline-block;
    }
    .hd_mob_p1{
        padding-bottom: 0;
    }
    .simply_wpp h2{
        padding-top: 20px;
        border-bottom: 1px solid #e5e5e5;
        padding-bottom: 10px;
        margin-bottom: 0;
    }
    .simply_block {
        width: 100%;
        height: 90px;
        background: #fff;
        border: none !important;
        border-bottom: 1px solid #e5e5e5 !important;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        padding-left: 30px;
    }
    .sb_text{
        font-size: 14px;
        padding-left: 0;
    }
    .sb_img{
        width: 60px;
    }
    .sb_img img{
        height: 40px;
        width: auto;
    }
    .ib_d{
        display: none;
    }
    .mb_d{
        display: none;
    }
    .mb_m{
        display: block;
    }
    .simply_mob_p1{
        margin-bottom: 0;
    }
    .mob_p1_m1{
        margin-top: 10px;
    }
    .mb_info{
        width: 100%;
        padding: 0;
    }
    .mbi_title{
        text-align: center;
        font-size: 15px;
        border-bottom: 1px solid #f7f7f7;
        text-transform: uppercase;
        font-weight: 900;
        padding: 20px 20px 15px 20px;
        margin-bottom: 0;
    }
    .mb_img{
        width: 100%;
        text-align: center;
    }
    .mb_img img{
        width: 240px;
        height: auto;
    }
    .mbi_text{
        font-size: 14px;
        font-weight: 300;
        padding: 0 20px;
        margin-bottom: 0;
    }
    .mbi_text img{
        width: 5px;
        height: auto;
    }
    .instruction_btn{
        width: 100%;
        border: none;
        border-radius: 0;
        border-top: 1px solid #f7f7f7;
        margin-top: 35px;
        padding-bottom: 4px;
    }
    .instruction_btn span{
        font-size: 14px;
        width: 200px;
    }
    .df_title_m{
        display: block;
    }
    .df_title_d{
        display: none;
    }
    .df_title{
        font-size: 15px;
        padding-top: 25px;
        padding-bottom: 12px;
    }
    .rf_left1{
        width: 100%;
    }
    .rf_right1{
        width: 100%;
    }
    .dop_forma{
        padding: 15px 23px 35px 23px;
    }
    .rf_left1 .input_wp{
        margin-bottom: 10px;
    }
    .rf_pole{
        height: 90px;
    }
    .rf_btn{
        width: 100%;
        height: 46px;
        font-size: 14px;
        line-height: 42px;
        border: 2px solid #ef3624;
        color: #000;
        position: relative;
        margin-top: 30px;
        z-index: 10000;
    }
    .rf_btn_mob_bg{
        position: relative;
    }
    .rf_btn_mob_bg:before{
        content: '';
        width: 295px;
        height: 90px;
        background: #fafbfc;
        border-top: 1px solid #f2f2f2;
        position: absolute;
        top: -10px;
        left: -22px;
    }
    .dop_forma_wp{
        background: #f1f3f7;
        padding-bottom: 30px;
    }
    .h2_title_p2{
        padding-top: 20px;
    }
    .mob_doc_img{
        display: block;
        margin-bottom: 15px;
    }
    .h2_text2{
        width: 100%;
        font-size: 14px;
        padding: 0 25px 15px 25px;
    }
    .title_mob_v1{
        padding-top: 20px;
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 12px;
        margin-bottom: 0;
    }
    .get_block{
        width: 100%;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        border: 1px solid #e5e5e5;
        -webkit-box-shadow: 0px 0px 24px 0px rgba(204,204,204,0.35);
        -moz-box-shadow: 0px 0px 24px 0px rgba(204,204,204,0.35);
        box-shadow: 0px 0px 24px 0px rgba(204,204,204,0.35);
    }
    .get_img{
        width: 50%;
    }
    .get_text{
        width: 50%;
        padding: 0 20px;
        background: #fff;
        text-align: left;
        font-size: 15px;
    }
    .get_wpp h2{
        margin-bottom: 17px;
    }
    .get_img img{
        height: 100%;
        width: 100%;
    }
    .gb_mob_p1 .get_text{
        order: -1;
    }
    .how_dop_wp_p2{
        padding-bottom: 0;
    }
    .instruction_img{
        width: 100%;
        background: #dfe4ed;
        height: 145px;
        overflow: hidden;
        border-radius: 5px;
        margin-bottom: 17px;
        order: -2;
    }
    .instruction_info{
        width: 100%;
    }
    .instruction_block{
        padding: 0 25px;
        margin-bottom: 15px;
    }
    .ii_title{
        font-size: 16px;
        margin-bottom: 18px;
    }
    .ii_text{
        font-size: 12px;
        margin-bottom: 12px;
    }
    .ib_v1 .instruction_info{
        text-align: left;
    }
    .how_2_wp_p3{
        padding-top: 0;
    }
    .make_title{
        padding: 0;
        text-align: center;
        padding-top: 38px;
    }
    .make_title span{
        font-size: 24px;
    }
    .make_text{
        padding: 0;
        text-align: center;
        margin-bottom: 15px;
    }
    .mb_img_mob{
        display: block;
    }
    .make_btn{
        width: 250px;
        height: 48px;
        margin: 0 auto;
        font-size: 14px;
        line-height: 48px;
        margin-top: 35px;
    }
    .mob_p1_m2{
        padding-bottom: 30px;
    }
    .news_big_wp, .news_big_wp .news_wp {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-top: 0;
    }
    .s7_bg1{
        background: #f1f3f7;
        padding-top: 15px;
    }
    .s7_bg1 h2{
        display: none;
    }
    .mob_bg_p1{
        padding-top: 0;
        background: none;
    }
    .news_big_wp .nb_info{
        background: #fff;
    }
    .news_big_wp .news_block_dark .nb_info{
        background: #3b3346;
    }
    .news_big_wp .news_block{
        margin-bottom: 10px;
    }
    .instruction_info::before {
        content: '';
        width: 32px;
        height: 32px;
        background: url("../images/ico79.png") no-repeat;
        position: absolute;
        top: -35px;
        left: 50%;
        margin-left: -18px;
    }
    .ib_v1 .instruction_info:before {
        content: '';
        width: 32px;
        height: 32px;
        background: url("../images/ico79.png") no-repeat;
        position: absolute;
        top: -35px;
        left: 50%;
        margin-left: -18px;
        right: inherit;
    }
    .doc_block p {
        margin-top: 0;
        margin-bottom: 5px;
    }
    .doc_block br {
        display: none;
    }
    .doc_block::before {
        margin-top: -17px;
    }
    .news_screen .news_block {
        width: 100%;
        margin-bottom: 18px;
    }
    .news_screen.screen_7 {
        padding-top: 15px;
        padding-bottom: 0;
    }
    .news_screen .news_wp {
        margin-top: 16px;
    }
    .news_screen .nb_label {
        top: 16px;
        left: 13px;
        border-radius: 3px;
    }
    .news_screen .nbi_text {
        font-size: 14px;
    }
    .news_screen .nb_info {
        padding-top: 22px;
        padding-left: 25px;
    }
    .news_screen .news_block {
        margin-bottom: 13px;
    }
    .news_screen .pagination_wp {
        margin-top: 3px;
        margin-bottom: 28px;
    }
    .news_screen .pagination_wp a{
        background: #fff;
    }
    .hb_text2{
        padding-top: 40px;
    }
    .hb_mob_h1{
        padding-bottom: 0;
    }
    .simply_wpp h2 {
        border-bottom: none;
        padding-bottom: 15px;
        border-bottom: 1px solid #e5e5e5;
    }
    .how_dop_wp_p2{
        padding-top: 0;
    }
    .how_2_wp_bg1{
        border-bottom: none;
    }
    .how_mob_new .title_mob_v1{
        margin-bottom: 0;
    }
    .how_mob_new .how_block{
        padding: 0;
        background: none !important;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding-top: 20px;
        padding-bottom: 30px;
        border-bottom: 1px solid #dde3e7;
    }
    .how_mob_new .hb_text span{
        position: static;
        margin: 0;
        padding: 0;
    }
    .how_mob_new .hb_img{
        position: static;
        padding: 0;
        width: 28%;
        text-align: center;
        height: auto;
    }
    .how_mob_new .hb_img img{
        height: 40px;
        width: auto;
    }
    .how_mob_new .mob_text_wp{
        width: 72%;
        padding-right: 10px;
    }
    .how_mob_new .hb_text2{
        padding: 0;
        font-size: 12px;
    }
    .how_mob_new .m_img{
        height: 40px !important;
        width: auto !important;
        display: inline-block !important;
    }
    .how_mob_new .hb_m1{
        margin: 0;
    }
    .how_mob_new .how_wp{
        margin-bottom: 0;
    }
    .dop_page .h2_text{
        margin-bottom: 10px;
    }
    .dop_page .how_2_wp .pi_line {
        padding-bottom: 15px;
    }
    h2 br.br_mobile {
        display: block;
    }
    .dop_page .must_block{
        margin-top: 0;
    }
    .df_title_m {
        color: #ef3624;
    }
    .df_title_m span {
        color: #000;
    }
    .mbi_title span.mobile_orange {
        color: #ef3624;
        font-weight: 900;
    }
    .mbi_title span.mobile_black {
        color: #000;
        font-weight: 900;
    }
    .al_title{
        text-align: center;
        font-size: 15px;
        padding-top: 10px;
        padding-bottom: 15px;
        border-bottom: 1px solid #f7f7f7;
    }
    .al_text{
        width: 100%;
    }
    .al_btn{
        width: 100%;
    }
    .al_title br{
        display: none;
    }
    .mob_about_img{
        display: block;
    }
    .al_text{
        font-size: 14px;
        line-height: 17px;
        padding: 0 15px 0 28px;
        margin-bottom: 25px;
    }
    .al_text br{
        display: none;
    }
    .al_btn{
        width: 250px;
        height: 50px;
        line-height: 50px;
        margin: 0 auto;
    }
    .about_left{
        padding-bottom: 15px;
    }
    .brands_d{
        display: none;
    }
    .brands_m{
        display: block;
    }
    .brand_block{
        width: 100%;
        background: #fff;
        height: auto;
        margin-bottom: 7px;
    }
    .bb_img{
        width: 100%;
        text-align: center;
    }
    .bb_info{
        width: 100%;
        text-align: center;
        padding-bottom: 25px;
    }
    .brands_wp{
        padding-top: 0;
    }
    .bb_img{
        padding-top: 10px;
        margin-bottom: 5px;
    }
    .bbi_text_f1 span{
        display: inline-block;
        font-size: 14px;
    }
    .brands_wp{
        padding-bottom: 0;
    }
    .s4_bg1{
        padding-top: 0;
    }
    .advantages_block .eb_item{
        padding-top: 0;
    }
    .advantages_block .eb_info{
        padding-top: 8px;
        padding-left: 30px;
    }
    .advantages_block .eb_text{
        font-size: 12px;
    }
    .advantages_block .eb_title{
        margin-bottom: 5px;
    }
    .advantages_block .easy_block{
        margin-bottom: 0;
    }
    .advantages_block .easy_block{
        border-bottom: none;
    }
    .eb_img{
        width: 16%;
    }
    .eb_info{
        width: 84%;
        padding-left: 25px;
    }
    .action_title1{
        font-size: 20px;
        line-height: 24px;
        padding-top: 60px;
        padding-left: 35px;
    ;margin-bottom: 0;
    }
    .action_title1 span{
        font-size: 36px;
    }
    .action_text{
        font-size: 14px;
        padding-left: 35px;
        margin-bottom: 47px;
    }
    .company_left{
        width: 100%;
    }
    .company_right{
        width: 100%;
    }
    .company_wp{
        padding-top: 10px;
    }
    .company_left h2{
        padding-top: 20px;
        padding-bottom: 10px;
        border-bottom: 1px solid #f7f7f7;
        margin-bottom: 12px;
    }
    .company_text{
        font-size: 14px;
        padding: 0 25px;
        margin-bottom: 15px;
    }
    .sert_slider{
        width: 300px;
        margin: 0;
        padding-bottom: 10px;
    }
    .sert_slide{
        width: 100%;
        height: auto;
        background: none;
    }
    .sert_slide img{
        width: 200px;
        height: auto;
    }
    .prev4{
        width: 11px;
        height: 18px;
        background: url("../images/prev2.png") no-repeat;
        position: absolute;
        top: 50%;
        left: -5px;
        z-index: 8900;
    }
    .next4{
        width: 11px;
        height: 18px;
        background: url("../images/next2.png") no-repeat;
        position: absolute;
        top: 50%;
        right: -5px;
        z-index: 8900;
    }
    .sp4{
        bottom: 10px;
    }
    .ct_mob_dn{
        display: none;
    }
    .ct_mob_db{
        display: block;
    }
    .company_wp{
        padding-bottom: 30px;
    }
    .company_right{
        padding-bottom: 15px;
    }
    .dop_page .easy_block {
        width: 100%;
    }
    .dop_page .screen_4 .mob_bg {
        padding-top: 12px;
    }
    .dop_page .easy_block {
        box-shadow: none;
        border-left: none;
        border-right: none;
    }
    .dop_page .easy_block {
        box-shadow: none;
        border-left: none;
        border-right: none;
    }
    .dop_page .easy_block:first-child {
        border-top: none;
    }
    .dop_page .screen_4 h2{
        border-bottom: 1px solid #e5e5e5;
    }
    .dop_page .advantages_block .easy_block {
        padding-bottom: 16px;
        padding-top: 12px;
    }
    .dop_page .eb_img {
        top: 3px;
        position: relative;
    }
    .dop_page .screen_4 {
        padding-bottom: 10px;
    }
    .dop_page .action_title1 {
        padding-left: 0;
    }
    .banner_block_tablet{
        display:none;
    }
    .banner_block_mobile{
        display:block;
    }
    .main_right
    {
        position:relative;

        right: 0;
    }
    #add{
        height: 511px;
    }

    .recall_slide .rs_img img {
        width: 120px;
        height: auto;
    }
    #block-block-21
    {
        width:100%
    }
}