.repay {
	background: #f1f3f7;
	padding-bottom: 10px;

	&__mobile {
		background: #fff;
		border: 1px solid #e5e5e5;
		@include box-shadow(0px 0px 24px 0px rgba(204,204,204,0.35));

		&_title {
			color: #000;
			font-size: 15px;
			font-weight: 900;
			line-height: 20px;
			text-align: center;
			padding: 12px 10px;
			text-transform: uppercase;
			border-bottom: 2px solid #f7f7f7;
		}
	}

	&__heading {
		padding-top: 25px;
		padding-bottom: 15px;

		&_top {
			display: none;
			color: #6c5d88;
			font-size: 12px;
			margin-bottom: 20px;
			text-transform: uppercase;
		}

		&_title {
			margin: 0;
			padding: 0;
			color: #302e34;
			font-size: 18px;
			font-weight: 900;
			line-height: 20px;
			text-align: center;
			text-transform: uppercase;
			span {
				display: inline;
			}
		}

		&_text {
			font-size: 30px;
			font-weight: 300;
			display: none;
		}
	}

	&__content {
		padding: 15px 25px;

		&_left {
			margin-bottom: 15px;
		}

		&_center {
			margin-bottom: 20px;
		}
	}

	&__card {
		width: 195px;
		margin: 0 auto;
	}

	&__pay {
		display: none;

		&_mobile {
			display: block;
			margin-bottom: 12px;
		}
	}

	&__text {
		font-size: 14px;
		font-weight: 300;
		text-align: center;


		&_title {
			font-size: 22px;
			font-weight: 900;
		}

		p {
			margin: 0;
			padding: 0;
		}
	}

	&__info {
		padding: 0;
		font-size: 12px;
		font-weight: 300;
		list-style: none;
		margin: 0 0 10px 0;
		@include flexbox();
		@include justify-content(space-between);

		> li {
			padding-left: 8px;
			position: relative;

			&:before {
				left: 0;
				top: 5px;
				width: 5px;
				height: 5px;
				content: '';
				position: absolute;
				display: inline-block;
				background: $color-red;
				@include border-radius(50%);
			}
		}
	}

	&__button {

		.btn {
			width: 100%;
		}
	}

	@media (min-width: $screen-sm-min) {
		background: #fff;
		padding-top: 35px;
		padding-bottom: 60px;

		&__mobile {
			border: none;
			background: transparent;
			@include box-shadow(none);

			&_title {
				display: none;
			}
		}

		&__heading {
			padding: 0;
			margin-bottom: 45px;

			&_top {
				display: block;
			}

			&_title {
				font-size: 28px;
				text-align: left;
				line-height: normal;
				margin-bottom: 30px;
			}

			&_text {
				display: block;
				font-size: 30px;
				font-weight: 300;
				max-width: 940px;
			}
		}

		&__content {
			background: #fff;
			border: 1px solid #e5e5e5;
			padding: 32px 45px 42px 45px;
			@include box-shadow(0px 0px 24px 0px rgba(204,204,204,0.35));
			@include flexbox();
			@include flex-wrap(wrap);
			@include justify-content(space-between);

			&_left {
				width: 276px;
				padding-top: 10px;
				margin-bottom: 25px;
			}

			&_center {
				width: 320px;
				margin-bottom: 0;
			}

			&_right {
				width: 100%;
				@include flexbox();
				@include flex-direction(row-reverse);
				@include justify-content(space-between);
			}
		}

		&__text {
			font-size: 30px;
			font-weight: 300;
			text-align: left;

			&_title {
				font-size: 48px;
				font-weight: 300;
			}

			p {
				max-width: 225px;
			}
		}

		&__card {
			width: 270px;
			margin-bottom: 20px;
		}

		&__pay {
			width: 265px;
			margin: 0 auto;
			display: block;

			&_mobile {
				display: none;
			}
		}

		&__button {
			width: 276px;
		}


		&__info {
			width: 320px;
			display: block;
			font-size: 18px;
			font-weight: 400;
			line-height: 20px;
			margin: -50px 0 0 0;

			> li {
				padding: 12px 0 12px 64px;

				&:before {
					display: none;
				}

				&:first-child {
					margin-bottom: 12px;
					background: url("../images/ico20.png") no-repeat 0 center;
				}

				&:last-child {
					background: url("../images/ico21.png") no-repeat 0 center;
				}
			}
		}
	}

	@media (min-width: $screen-lg-min) {
		padding-bottom: 60px;

		&__content {
			padding: 27px 50px 22px 50px;
			@include flex-wrap(nowrap);
			@include align-items(flex-start);

			&_left {
				width: 266px;
				margin-right: 74px;
				margin-bottom: 0;
			}

			&_center {
				width: 285px;
				margin-right: 127px;
				margin-bottom: 0;
			}

			&_right {
				width: 318px;
				padding-top: 10px;
				margin-bottom: 0;
				@include flex-direction(column);
			}
		}

		&__button {
			width: 100%;
			margin-bottom: 40px;
			@include order(1);
		}

		&__info {
			margin: 0;
			width: 100%;
			@include order(2);
		}
	}
}

.repay_box {
	background: #f1f3f7;
	padding-bottom: 10px;

	&__mobile {
		background: #fff;
		border: 1px solid #e5e5e5;
		padding: 20px 25px 35px 25px;
		@include box-shadow(0px 0px 24px 0px rgba(204,204,204,0.35));

		&_title {
			color: #000;
			font-size: 15px;
			font-weight: 900;
			line-height: 20px;
			text-align: center;
			margin-bottom: 18px;
			text-transform: uppercase;
		}
	}

	&__image {
		border-bottom: 2px solid #f7f7f7;

		&_wrap {
			width: 200px;
			margin: 0 auto;
		}
	}

	&__content {
		font-size: 12px;
		font-weight: 300;
		padding-top: 20px;

		strong {
			font-weight: 600;
		}
	}

	&__title {
		display: none;

		span {
			color: #302e34 !important;
		}
	}

	&__primary {
		margin-bottom: 15px;
	}

	&__second {

	}

	@media (min-width: $screen-sm-min) {
		padding: 0;
		background: #fff;
		margin-bottom: 0;
		border-top: 1px solid #eef3f6;

		&__mobile {
			padding: 0;
			border: none;
			background: transparent;
			@include box-shadow(none);

			&_title {
				display: none;
			}
		}

		&__title {
			color: #36333b;
			display: block;
			font-size: 28px;
			font-weight: 900;
			margin-bottom: 35px;
			text-transform: uppercase;
		}

		&__content {
			z-index: 10;
			position: relative;
			font-size: 16px;
			margin-left: 374px;
		}

		&__primary {
			font-size: 20px;
			margin-bottom: 25px;
		}

		&__wrap {
			min-height: 500px;
			padding-top: 60px;
			padding-bottom: 40px;
			position: relative;
		}

		&__image {
			bottom: 0;
			z-index: 1;
			left: -70px;
			width: 442px;
			border-bottom: 0;
			position: absolute;

			&_wrap {
				width: 100%
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		&__wrap {
			padding-top: 125px;
			padding-bottom: 140px;
			min-height: 630px;
		}

		&__title {
			margin-bottom: 60px;
		}

		&__content {
			font-size: 18px;
			margin-left: 600px;
		}

		&__primary {
			font-size: 24px;
		}

		&__image {
			left: -100px;
			width: 588px;
		}
	}
}
