.news_header {
	padding-top: 25px;
	padding-bottom: 20px;
	background: #f1f3f7;

	.heading__title {
		margin: 0;
	}

	h1 {

		span {
			display: inline;
		}
	}

	@media (min-width: $screen-sm-min) {
		background: #fff;
		padding-bottom: 0;
		padding-top: 35px;
	}
}

.news_intro {
	background: #f1f3f7;
	padding-bottom: 10px;

	&__row {

	}

	&__image {

		&_wrap {
			position: relative;
			@include box-shadow(0px 8px 27px 0px rgba(172, 190, 207, 0.75));
		}
	}

	&__label {
		top: 18px;
		left: 12px;
		z-index: 10;
		color: #fff;
		font-size: 12px;
		font-weight: 600;
		line-height: 20px;
		padding: 3px 10px;
		position: absolute;
		display: inline-block;
		background: $color-red;
		text-transform: uppercase;
		@include border-radius(3px);
	}

	&__content {
		color: #000;
		font-size: 14px;
		font-weight: 300;
		padding: 20px 25px 15px 25px;
	}

	&__date {
		color: #666;
		font-size: 12px;
		font-weight: 400;
		margin-bottom: 10px;
	}

	&__title {
		color: #000;
		font-size: 18px;
		font-weight: 600;
		line-height: 22px;
		margin-bottom: 15px;
	}

	&__text {

	}

	@media (min-width: $screen-sm-min) {
		background: #fff;
		padding-top: 45px;
		padding-bottom: 60px;
		border-bottom: 1px solid #eef3f6;

		&__row {
			@include flexbox();
		}

		&__image {
			width: 300px;
			padding-top: 40px;
			@include flex-shrink(0);
			@include order(2);
		}

		&__content {
			font-size: 20px;
			padding: 0 20px 0 0;
			@include flex-grow(1);
			@include order(1);
		}

		&__date {
			font-size: 18px;
			font-weight: 400;
			margin-bottom: 15px;
		}

		&__title {
			font-size: 18px;
			font-weight: 900;
			line-height: 22px;
			text-transform: uppercase;
		}
	}

	@media (min-width: $screen-lg-min) {
//		padding-bottom: 40px;

		&__image {
			width: 470px;
			padding-top: 0;

			&_wrap {
				margin-top: -80px;
			}
		}

		&__content {
			font-size: 20px;
			padding-right: 40px;
		}

		&__title {
			margin-bottom: 30px;
		}
	}
}

.news_content {
	color: #000;
	font-size: 14px;
	font-weight: 300;
	background: #f1f3f7;
	padding-bottom: 10px;

	&__wrap {
		padding: 20px 25px 30px 25px;
	}

	h4 {
		margin: 0;
		color: #000;
		font-size: 14px;
		font-weight: 500;
		padding: 5px 0 5px 0;
	}

	p {
		margin: 0;
		padding: 0;
	}

	a {
		color: $color-red;
		text-decoration: none;

		&:hover {
			color: $color-red;
			text-decoration: none;
		}
	}

	@media (min-width: $screen-sm-min) {
		background: #fff;
		font-size: 20px;

		&__wrap {
			padding: 25px 0 20px 0;
		}

		h4 {
			font-size: 20px;
			padding-top: 25px;
		}

		p {

		}
	}

	@media (min-width: $screen-lg-min) {
		font-size: 20px;

		&__wrap {
			padding-top: 75px;
			padding-bottom: 45px;
		}

		h4 {
			font-size: 20px;
			padding-top: 0;
			padding-bottom: 0;
			margin-bottom: 30px;
		}

		p {
			margin-bottom: 30px;
		}
	}
}

.news_mobile {
	background: #fff;
	border: 1px solid #e5e5e5;
	@include box-shadow(0px 0px 24px 0px rgba(204,204,204,0.35));

	@media (min-width: $screen-sm-min) {
		border: none;
		background: transparent;
		@include box-shadow(none);
	}
}