.contact {
	padding-top: 20px;
	background: #f1f3f7;

	&__mobile {
		background: #fff;
		border: 1px solid #e5e5e5;
		@include box-shadow(0px 0px 24px 0px rgba(204,204,204,0.35));
	}

	&__heading {
		margin: 0 0 15px 0;

		&_second {
			display: none;
			color: #6c5d88;
			font-size: 12px;
			font-weight: 400;
			line-height: 14px;
			margin-bottom: 15px;
			text-transform: uppercase;
		}

		h1 {
			margin: 0;
			padding: 0;
			color: #000;
			font-size: 18px;
			font-weight: 900;
			text-align: center;
			text-transform: uppercase;
			font-family: $font-family-base;
		}
	}

	&__left {
		min-height: 1px;
		margin-bottom: 10px;
	}

	&__right {
		min-height: 1px;
	}

	&__title {
		font-size: 15px;
		font-weight: 900;
		text-align: center;
		padding: 14px 25px;
		text-transform: uppercase;
		border-bottom: 2px solid #f7f7f7;
	}

	&__list {
		margin: 0;
		color: #000;
		font-size: 14px;
		font-weight: 400;
		line-height: 20px;
		list-style: none;
		padding: 25px 25px 5px 25px;

		> li {
			min-height: 25px;
			margin-bottom: 20px;
			padding: 2px 0 2px 33px;


			&:nth-child(1) {
				background: url("../img/icon__contact_phone.png") 0 0 no-repeat;
			}

			&:nth-child(2) {
				background: url("../img/icon__contact_email.png") 0 0 no-repeat;
			}

			&:nth-child(3) {
				background: url("../img/icon__contact_address.png") 0 0 no-repeat;
			}

			&:nth-child(4) {
				background: url("../img/icon__contact_site.png") 0 0 no-repeat;
			}

			strong {
				font-weight: 600;
				margin-right: 6px;
				text-transform: uppercase;
			}

			a {
				color: $color-red;
				text-decoration: none;

				&:hover {
					color: $color-red;
					text-decoration: underline;
				}
			}
		}
	}

	@media (min-width: $screen-sm-min) {
		background: #fff;
		padding-top: 35px;
		padding-bottom: 50px;

		&__mobile {
			border: none;
			background: transparent;
			@include box-shadow(none);
		}

		&__heading {
			margin-bottom: 70px;

			&_second {
				display: block;
			}

			h1 {
				color: #36333b;
				font-size: 28px;
				text-align: left;
			}
		}

		&__row {
			@include flexbox();
			@include justify-content(space-between);
		}

		&__left {
			width: 364px;
			margin-bottom: 0;
			@include flex-shrink(0);
		}

		&__right {
			width: 364px;
			padding-top: 100px;
			@include flex-shrink(0);
		}

		&__title {
			padding: 0;
			border: none;
			font-size: 18px;
			text-align: left;
			margin-bottom: 45px;
		}

		&__list {
			padding: 0;
			font-size: 18px;
			max-width: 720px;

			> li {
				position: relative;
				margin-bottom: 35px;
				padding-left: 36px;
			}
		}
	}

	@media (min-width: $screen-lg-min) {
		padding-bottom: 40px;

		&__mobile {
			border: none;
			background: transparent;
			@include box-shadow(none);
		}

		&__left {
			width: 770px;
		}

		&__right {
			width: 370px;
			padding-top: 0;
		}

		&__list {
			@include flexbox();
			@include flex-wrap(wrap);

			> li {
				width: 50%;

				&:nth-child(1) {
					@include order(1);
				}

				&:nth-child(2) {
					@include order(3);
				}

				&:nth-child(3) {
					@include order(2);
				}

				&:nth-child(4) {
					@include order(4);
				}
			}
		}
	}
}

.contacts_box {
	padding-top: 10px;
	background: #f1f3f7;

	&__main {
		margin: 0;
		padding: 0;
		list-style: none;

		> li {
			background: #fff;
			margin-bottom: 10px;
			border: 1px solid #dedfe1;
			@include box-shadow(0px 0px 12px 0px rgba(204,204,204,0.35));
		}
	}

	&__title {
		height: 70px;
		color: #36333b;
		font-size: 15px;
		font-weight: 900;
		text-align: center;
		text-transform: uppercase;
		border-bottom: 2px solid #f7f7f7;
		@include flexbox();
		@include flex-direction(column);

		> span {
			margin: auto 0;
			display: block;
		}
	}

	&__content {
		font-size: 14px;
		padding: 17px 23px;
		background: #fbfcfd;
		@include flexbox();
		@include align-items(center);

		strong {
			font-weight: 600;
			margin-right: 6px;
			text-transform: uppercase;
		}

		i {
			margin-right: 10px;
			display: inline-block;
		}

		span {
			display: inline-block;
		}

		a {
			color: $color-red;
			text-decoration: none;

			&:hover {
				color: $color-red;
				text-decoration: none;
			}
		}
	}

	@media (min-width: $screen-sm-min) {
		background: #fff;
		padding-top: 0px;
		padding-bottom: 40px;

		&__main {
			border: 1px solid #eef1f3;
			@include flexbox();

			> li {
				margin: 0;
				border: none;
				width: 33.33%;
				background: #fff;
				border-right: 1px solid #eef1f3;

				&:last-child {
					border-right: none;
				}
			}
		}

		&__title {
			height: 90px;
			font-size: 18px;
			text-align: left;
			border-bottom: none;
			display: block;
			padding: 40px 10px 10px 25px;
		}

		&__content {
			font-size: 16px;
			padding: 12px 15px 40px 25px;
			background: transparent;
			@include align-items(flex-start);

			strong {
				display: block;
			}
		}
	}

	@media (min-width: $screen-lg-min) {
		padding-bottom: 60px;

		&__title {
			height: 100px;
			padding: 40px 10px 10px 60px;
		}

		&__content {
			font-size: 18px;
			padding: 15px 15px 40px 60px;
			@include align-items(center);

			strong {
				display: inline;
			}
		}
	}
}

.contact_form {
	background: #fff;
	border: 1px solid #e5e5e5;
	@include box-shadow(0px 0px 24px 0px rgba(204,204,204,0.35));

	&__title {
		padding: 20px 25px 0 25px;

		h3 {
			margin: 0;
			color: #36333b;
			font-size: 15px;
			font-weight: 900;
			line-height: 20px;
			text-align: center;
			padding: 0 0 15px 0;
			text-transform: uppercase;
			border-bottom: 1px solid #efefef;
		}
	}

	&__content {
		padding: 15px 25px 10px 25px;
	}

	&__submit {
		background: #fafbfc;
		padding: 12px 25px 18px 25px;
		border-top: 1px solid #f2f2f2;

		.btn {
			width: 100%;
		}
	}

	.rf_pole {
		height: 90px;
	}

	@media (min-width: $screen-sm-min) {

		&__title {
			padding: 20px 40px 0 40px;

			h3 {
				font-size: 18px;
				padding: 0 0 10px 0;
			}
		}

		&__content {
			padding: 15px 40px 10px 40px;
		}

		&__submit {
			background: #fff;
			padding: 15px 40px 30px 40px;
		}

		.rf_pole {
			height: 90px;
		}
	}

	@media (min-width: $screen-lg-min) {

		.rf_pole {
			height: 90px;
		}
	}
}

.sitemap {
	background: #f1f3f7;

	&__mobile {
		background: #fff;
		border: 1px solid #e5e5e5;
		@include box-shadow(0px 0px 24px 0px rgba(204,204,204,0.35));
	}

	&__heading {
		margin: 20px 0 15px 0;

		&_second {
			display: none;
			color: #6c5d88;
			font-size: 12px;
			font-weight: 400;
			line-height: 14px;
			margin-bottom: 15px;
			text-transform: uppercase;
		}

		h1 {
			margin: 0;
			padding: 0;
			color: #000;
			font-size: 18px;
			font-weight: 900;
			text-align: center;
			text-transform: uppercase;
			font-family: $font-family-base;
		}
	}


	&__group {
		background: #fff;
		margin-bottom: 10px;
		border: 1px solid #e5e5e5;
		@include box-shadow(0px 0px 24px 0px rgba(204,204,204,0.35));

		&_title {
			color: #000;
			font-size: 15px;
			font-weight: 900;
			text-align: center;
			text-transform: uppercase;
			padding: 18px 25px 10px 25px;
			border-bottom: 2px solid #f7f7f7;
		}

		&_subtitle {
			color: #000;
			font-size: 15px;
			font-weight: 900;
			margin-bottom: 10px;
			text-transform: uppercase;
		}


		&_content {
			font-size: 12px;
			padding: 25px 15px 25px 25px;

			ul {
				margin: 0;
				padding: 0;
				list-style: none;

				li {
					padding-left: 10px;
					margin-bottom: 10px;
					position: relative;

					&:before {
						left: 0;
						top: 4px;
						width: 5px;
						height: 8px;
						content: '';
						position: absolute;
						display: inline-block;
						background: url("../img/icon__angle_right.png") 0 0 no-repeat;
						background-size: cover;
					}
				}
			}
		}
	}

	@media (min-width: $screen-sm-min) {
		background: #fff;
		padding-top: 35px;
		padding-bottom: 30px;

		&__heading {
			padding: 0;
			margin: 0 0 70px 0;

			&_second {
				display: block;
			}

			h1 {
				color: #36333b;
				font-size: 28px;
				text-align: left;
			}
		}

		&__group {
			border: none;
			margin-bottom: 30px;
			background: transparent;
			@include box-shadow(none);

			&_title {
				padding: 0;
				font-size: 20px;
				text-align: left;
				margin-bottom: 20px;
				border-bottom: none;
			}

			&_subtitle {
				font-size: 16px;
				margin-bottom: 25px;
			}

			&_content {
				padding: 0;
				font-size: 18px;
			}
		}

	}
}

.main_phone {
	color: #000 !important;
	font-weight: 400;
	text-decoration: none !important;

	&:hover {
		color: #000 !important;
		text-decoration: none !important;
	}
}

.contact_icon {
	top: 0;
	left: 0;
	width: 36px;
	height: 40px;
	font-size: 0;
	line-height: 0;
	display: inline-block;
	position: absolute;
}