.rate_page_header {
	padding: 20px 0;
	background: #f1f3f7;

	.heading__title {
		margin-bottom: 0;
	}

	@media (min-width: $screen-sm-min) {
		background: #fff;
		padding-top: 30px;
		padding-bottom: 0;
	}

}

.rate_block {
	background: #f1f3f7;
	padding-bottom: 0;

	@media (min-width: $screen-sm-min) {
		background: #fff;
		padding-top: 50px;

		&:first-child {
			padding-top: 40px;
		}

		&:nth-child(even) {
			background: #f9fbfc;
			border-top: 1px solid #eef3f6;
			border-bottom: 1px solid #eef3f6;
		}
	}

	@media (min-width: $screen-lg-min) {
		padding-top: 75px;

		&:first-child {
			padding-top: 55px;
		}
	}
}

.rate {
	background: #fdfdfd;
	border: 1px solid #e5e5e5;
	@include box-shadow(0px 0px 24px 0px rgba(204,204,204,0.35));

	&__heading {
		height: 45px;
		font-size: 15px;
		font-weight: 900;
		line-height: 20px;
		text-transform: uppercase;
		border-bottom: 2px solid #f6f6f6;
		@include flexbox();
		@include align-items(center);
		@include justify-content(center);

		strong {
			font-weight: 900;
			display: inline-block;
		}

		i {
			width: 14px;
			font-size: 0;
			line-height: 0;
			margin-left: 3px;
			display: inline-block;
		}
	}

	&__row {

	}

	&__intro {

		&_text {
			display: none;
		}
	}

	&__detail {

		&_left {
			padding-top: 15px;
		}

		&_icon {
			width: 250px;
			height: 160px;
			margin: 0 auto;
			background: #fff;
			text-align: center;
			border: 1px solid #e5e5e5;
			@include border-radius(5px);
			@include flexbox();
			@include flex-direction(column);

			&__wrap {
				margin:  auto 0;
			}

			i {
				width: 108px;
				display: block;
				margin: 0 auto;
			}
		}

		&_mobile {
			color: #000;
			font-weight: 300;
			font-size: 14px;
			padding: 15px 25px 20px 25px;
			border-bottom: 1px solid #d8d8d8;

			h4 {
				padding: 0;
				color: #000;
				display: block;
				font-size: 14px;
				font-weight: 400;
				margin: 0 0 2px 0;
			}
		}

		&_info {
			margin: 0;
			padding: 0;
			color: #000;
			font-size: 14px;
			font-weight: 600;
			list-style: none;

			li {
				height: 90px;
				padding: 10px 28px;
				@include flexbox();
				@include align-items(center);

				&:first-child {
					border-bottom: 1px solid #d8d8d8;
				}

				i {
					font-size: 0;
					line-height: 0;
					width: 43px;
					display: inline-block;
					@include flex-shrink(0);
				}

				> span {
					padding-left: 10px;
					display: inline-block;
				}
			}
		}
	}

	&__info {
		margin: 0;
		padding: 0;
		font-size: 14px;
		list-style: none;
		border-bottom: 1px solid #d8d8d8;
		@include flexbox();
		@include flex-wrap(wrap);

		> li {
			width: 50%;
			padding: 18px 14px 20px 10px;
			border-top: 1px solid #d8d8d8;

			&:nth-child(1),
			&:nth-child(3) {
				padding-left: 25px;
				border-right: 1px solid #d8d8d8;
			}
		}

		&_label {
			font-weight: 300;
		}

		&_value {
			font-weight: 600;
		}
	}

	&__button {
		text-align: center;
		padding: 12px 25px 20px 25px;

		.btn {
			width: 100%;
		}
	}

	@media (min-width: $screen-sm-min) {
		border: none;
		background: transparent;
		@include box-shadow(none);

		&__row {
			margin-bottom: 25px;
			@include flexbox();
			@include align-items(flex-start);
			@include justify-content(space-between);
		}

		&__intro {
			width: calc(50% - 10px);
			@include flex-shrink(0);

			&_text {
				display: block;
				font-size: 20px;
				font-weight: 300;

				h4 {
					padding: 0;
					font-size: 20px;
					font-weight: 400;
					margin: 0 0 3px 0;
				}
			}
		}

		&__heading {
			height: auto;
			font-size: 24px;
			line-height: normal;
			border-bottom: none;
			margin-bottom: 30px;
			@include justify-content(flex-start);

			i {
				width: 22px;
				margin-right: 5px;
			}
		}

		&__detail {
			background: #fff;
			width: calc(50% - 10px);
			@include flex-shrink(0);
			@include flexbox();

			&_left {
				padding: 0;
				width: 172px;
				@include flex-shrink(0);
			}

			&_right {
				@include flex-grow(1);
				@include flex-wrap(wrap);
			}

			&_icon {
				width: 100%;
				height: 100%;
				background: #fff;
				@include border-radius(0);
				@include box-shadow( 0px 0px 24px 0px rgba(204, 204, 204, 0.33));

				i {
					width: 90px;
				}
			}

			&_info {

			}

			&_mobile {
				display: none;
			}

			&_info {
				border: 1px solid #d8d8d8;
				border-left: none;

				li {
					padding: 10px 25px;

					i {
						width: 58px;
					}
				}
			}
		}

		&__info {
			font-size: 16px;
			background: #fff;
			border: 1px solid #e5e5e5;
			@include flex-wrap(nowrap);

			> li {
				padding: 0;
				width: 25%;
				border-top: none;
				border-right: 1px solid #e5e5e5;


				&:nth-child(1),
				&:nth-child(3) {
					padding: 0;
				}

				&:last-child {
					border-right: none;
				}
			}

			&_title {
				height: 60px;
				padding: 0 10px;
				text-align: center;
				border-bottom: 1px solid #e5e5e5;
				@include flexbox();
				@include flex-direction(column);
			}

			&_value {
				height: 100px;
				padding: 0 10px;
				text-align: center;
				@include flexbox();
				@include flex-direction(column);
			}

			&_wrap {
				margin: auto 0;
			}
		}

		&__button {
			padding-top: 20px;
			padding-bottom: 46px;
			text-align: center;

			.btn {
				width: 258px;

			}
		}
	}

	@media (min-width: $screen-lg-min) {

		&__intro {

			&_text {
				max-width: 500px;
				font-size: 24px;

				h4 {
					font-size: 24px;
				}
			}
		}

		&__detail {

			&_left {
				width: 270px;
			}

			&_icon {

				i {
					width: 144px;
				}
			}

			&_info {
				font-size: 20px;
				font-weight: 600;

				li {
					height: 120px;
					padding: 10px 32px;

					i {
						width: 77px;
					}

					span {
						padding-left: 15px;
					}
				}
			}
		}

		&__info {
			font-size: 20px;

			&_title {
				height: 60px;
			}

			&_value {
				padding: 10px 30px;
			}
		}

		&__button {
			padding-top: 30px;
			padding-bottom: 60px;

			.btn {
				width: 370px;
			}
		}
	}
}


