
.bonus {
	background: #f1f3f7;
	padding-bottom: 10px;

	&_gray {
		padding-top: 10px;
	}

	&__mobile {
		background: #fff;
		padding: 25px 20px 35px 25px;
		border: 1px solid #e5e5e5;
		@include box-shadow(0px 0px 24px 0px rgba(204,204,204,0.35));
	}

	&__heading {
		padding: 0;
		font-size: 15px;
		font-weight: 900;
		text-align: center;
		margin: 0 0 15px 0;
		text-transform: uppercase;
	}

	&__row {

	}

	&__item {
		padding-bottom: 10px;
		border-top: 1px solid #efefef;

	}

	&__top {
		color: #000;
		height: 72px;
		font-size: 14px;
		font-weight: 700;
		@include flexbox();
		@include align-items(center);
		@include justify-content(flex-end);

		i {
			width: 41px;
			margin-right: 10px;
			display: inline-block;
			@include flex-shrink(0);
		}

		span {
			width: 170px;
			display: inline-block;
			@include flex-shrink(0);
		}
	}

	&__text {
		color: #000;
		font-size: 14px;
		font-weight: 300;
		text-align: center;

		p {
			margin: 0 0 14px 0;
			background: #f1f6f9;
			border: 1px solid #f2f2f2;
			padding: 13px 20px 16px 20px;
			@include border-radius(6px);
		}

		a {
			color: $color-red;
			text-decoration: underline;

			&:hover {
				color: $color-red;
				text-decoration: none;
			}
		}
	}

	&__content {
		color: #000;
		font-size: 14px;
		font-weight: 300;
		text-align: center;

		strong {
			font-weight: 600;
		}
	}

	@media (min-width: $screen-sm-min) {
		background: #fff;
		padding-top: 55px;
		padding-bottom: 60px;

		&__mobile {
			padding: 0;
			border: none;
			background: transparent;
			@include box-shadow(none);
		}

		&__heading {
			font-size: 28px;
			text-align: left;
			margin-bottom: 30px;
		}

		&_gray {
			background: #f9fbfc;
			border-bottom: 2px solid #eef3f6;
		}

		&__row {
			background: transparent;
			border: 1px solid #e2e3e4;
			@include box-shadow(0px 0px 24px 0px rgba(204,204,204,0.35));
			@include flexbox();
			@include justify-content(space-between);
		}


		&__item {
			width: 33.33%;
			background: #fff;
			border-top: none;
			padding-bottom: 0;
			position: relative;
			border-right: 1px solid #e2e3e4;
			@include box-shadow(0px 0px 24px 0px rgba(204,204,204,0.35));
			@include flex-shrink(0);
			@include flexbox();
			@include flex-direction(column);

			&:last-child {
				border-right: none;

				&:after {
					display: none;
				}
			}

			&:after {
				z-index: 10;
				top: 17px;
				right: -4px;
				width: 52px;
				height: 3px;
				content: "";
				position: absolute;
				display: inline-block;
				background: url('../img/deferral__line.png') 0 0 no-repeat;
			}

			&_two {

				.bonus__top {

					span {
						height: 117px;
						border-top: 1px solid #f2f2f2;
						padding: 15px 15px 15px 25px;
						margin-left: -25px;
						margin-right: -15px;
						background: #f1f6f9;
					}
				}

				.bonus__text {
					background: #f1f6f9;
				}
			}
		}

		&__top {
			height: auto;
			display: block;
			text-align: left;
			padding: 25px 15px 0 25px;

			i {
				width: auto;
				display: inline-block;
				font-weight: 400;
				margin-right: 0;
				margin-bottom: 10px;

				.img_fluid {
					display: inline-block;
				}
			}

			span {
				width: auto;
				padding-top: 15px;
				padding-bottom: 15px;
				font-size: 24px;
				display: block;
				-moz-hyphens: auto;
				-webkit-hyphens: auto;
				-ms-hyphens: auto;
			}
		}

		&__text {
			font-size: 16px;
			padding: 0 10px 20px 25px;
			@include flexbox();
			@include flex-direction(column);
			@include flex-grow(1);

			p {
				padding: 0;
				border: none;
				text-align: left;
				background: transparent;
				@include flex-grow(1);
			}
		}

		&__content {
			font-size: 16px;
			text-align: left;
			padding: 35px 0 0 0;
		}
	}

	@media (min-width: $screen-lg-min) {
		padding-top: 55px;
		padding-bottom: 60px;

		&__row {
			border: none;
			@include box-shadow(none);
		}

		&__heading {
			margin-bottom: 50px;
		}

		&__item {
			width: calc(33.33% - 15px);
			border: 1px solid #e2e3e4;
			@include transition(.3s);
			@include box-shadow(none);

			&:after {
				display: none;
			}

			&:hover {
				@include box-shadow(0px 0px 24px 0px rgba(204,204,204,0.8));
			}

			&_two {

				.bonus__top {
					padding-top: 20px;

					span {
						margin: 0;
						padding: 0;
						height: 40px;
						border-top: none;
						background: transparent;
					}
				}
			}
		}


		&__top {
			text-align: center;
			padding-bottom: 10px;


			span {
				padding: 0;
				height: 40px;
				font-size: 20px;
				line-height: 20px;
				font-weight: 700;

			}
		}

		&__text {
			font-size: 18px;
			text-align: center;
			padding: 10px 35px 20px 35px;
			border-top: 1px solid #f2f2f2;

			p {
				text-align: center;
			}
		}

		&__content {
			font-size: 18px;
			padding: 50px 30px 0 100px;
		}
	}
}