
.a_btn {
	border: none;
	outline: none;
	cursor: pointer;
	font-family: $font-family-base;
	@include box-shadow(0px 6px 12px 0px rgba(243, 77, 42, 0.5));
}

.lk_form_btn {
	border: none;
	outline: none;
	cursor: pointer;
	font-family: $font-family-base;
	@include box-shadow(0px 6px 12px 0px rgba(243, 77, 42, 0.5));
}

.form_checkbox {
	font-size: 0;
	line-height: 0;
	font-weight: 300;
	position: relative;
	display: inline-block;

	input {
		top: 0;
		left: 0;
		opacity: 0;
		width: 1px;
		height: 1px;
		visibility: hidden;
		position: absolute;
		display: inline-block;
	}

	span {
		cursor: pointer;
		padding-left: 30px;
		position: relative;
		font-size: 14px;
		font-weight: 300;
		line-height: 18px;
		display: inline-block;

		&:before {
			top: 0;
			left: 0;
			content: '';
			width: 23px;
			height: 20px;
			display: inline-block;
			background: url('../images/check10.png') no-repeat;
			cursor: pointer;
			position: absolute;
		}

		a {
			font-weight: 400;
			color: $color-red;
			text-decoration: none;
			border-bottom: 1px solid #ef6754;

			&:hover {
				color: $color-red;
				text-decoration: none;
				border-bottom-color: transparent;
			}
		}
	}

	input:checked + span {

		&:before {
			background-position: 0 -20px;
		}
	}

	@media (min-width: $screen-sm-min) {

		span {
			font-size: 16px;
			line-height: 20px;
		}
	}
}

.account {

	&__heading {
		padding: 15px 25px 30px 25px;

		&_title {
			color: #333039;
			font-size: 16px;
			font-weight: 900;
			margin-bottom: 10px;
		}

		&_text {
			color: #302e34;
			font-size: 14px;
			font-weight: 300;

			strong {
				font-weight: 700;
			}
		}
	}

	&__data {
		z-index: 50;
		position: relative;
		padding: 17px 20px;
		background: #f2f2f2;
		border-top: 3px solid #e46357;

		&_term {
			z-index: 50;
			position: relative;
			margin-bottom: 10px;
		}

		&_cost {
			margin: 10px -25px 0 -25px;
			padding: 17px 25px 0 25px;
			border-top: 1px solid #e7e9f0;
		}
	}

	&__submit {
		text-align: center;
		background: #fafbfc;
		border: 1px solid #f2f2f2;
		padding: 11px 23px 22px 23px;

		.btn {
			width: 100%;
		}
	}

	&__timer {
		background: #f1f6f9;
		padding: 20px 25px 25px 25px;

		&_text {
			color: #302e34;
			font-size: 14px;
			font-weight: 300;
			padding: 15px 25px 25px 25px;

			strong {
				font-weight: 700;
			}

			p {
				margin: 0;
				padding: 0;
			}

			h4 {
				padding: 0;
				color: #302e34;
				font-size: 12px;
				font-weight: 900;
				margin: 0 5px 0 0;
				text-transform: uppercase;
			}
		}

		&_box {
			margin-bottom: 15px;
		}

		&_title {
			color: #000;
			font-size: 16px;
			font-weight: 700;
			text-align: center;
			margin-bottom: 15px;
		}

		&_value {
			color: #000;
			width: 135px;
			padding: 5px;
			display: block;
			font-size: 18px;
			font-weight: 700;
			line-height: 22px;
			background: #fff;
			text-align: center;
			margin: 0 auto 17px auto;
			border: 1px solid #cfcfcf;
			@include border-radius(3px);

			small {
				color: #666;
				font-size: 18px;
				font-weight: 400;
			}
		}

		&_progress {
			height: 20px;
			overflow: hidden;
			position: relative;
			background: #dfe4ed;
			@include border-radius(6px);

			&:before {
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				z-index: 10;
				content: '';
				display: block;
				position: absolute;
				@include box-shadow(inset 0px 2px 5px 0px rgba(204, 204, 204, 1));
			}

			span {
				top: 0;
				left: 0;
				bottom: 0;
				z-index: 1;
				display: block;
				position: absolute;
				background: url("../img/progress_bg.png") 0 50% repeat-x;
			}
		}

		&_date {
			color: #000;
			font-size: 14px;
			font-weight: 700;
			text-align: center;
		}
	}

	&__info {
		color: #302e34;
		font-size: 14px;
		font-weight: 300;
		padding: 15px 25px 25px 25px;

		strong {
			font-weight: 700;
		}

		p {
			margin: 0;
			padding: 0;
		}

		h4 {
			padding: 0;
			color: #302e34;
			font-size: 12px;
			font-weight: 900;
			margin: 0 5px 0 0;
			text-transform: uppercase;
		}
	}

	&__box {
		background: #f1f6f9;
		padding: 20px 25px 30px 25px;
		border-top: 1px solid #f2f2f2;
		border-bottom: 1px solid #f2f2f2;

		&_wrap {

		}

		&_title {
			color: #000;
			font-size: 16px;
			font-weight: 700;
			text-align: center;
			margin-bottom: 15px;
		}

		&_value {
			color: #000;
			width: 135px;
			padding: 5px;
			display: block;
			font-size: 18px;
			font-weight: 700;
			line-height: 22px;
			background: #fff;
			text-align: center;
			margin: 0 auto 17px auto;
			border: 1px solid #cfcfcf;
			@include border-radius(3px);

			small {
				color: #666;
				font-size: 18px;
				font-weight: 400;
			}
		}
	}

	@media (min-width: $screen-sm-min) {
		width: 660px;
		margin: 0 auto;

		&__heading {
			padding: 30px 0 50px 0;

			&_title {
				font-size: 18px;
				margin-bottom: 20px;
				text-transform: uppercase;
			}

			&_text {
				font-size: 18px;
			}
		}

		&__data {
			background: #fff;
			margin-bottom: 35px;
			border-bottom: 1px solid #e5e5e5;
			@include box-shadow(0px 0px 24px 0px rgba(204, 204, 204, 0.24));

			&_term {
				width: 240px;
			}

			&_cost {
				top: 17px;
				right: 20px;
				margin: 0;
				padding: 0;
				border: none;
				width: 240px;
				position: absolute;
			}

			&_amount {
				margin: 0 -20px;

				.range_label {
					padding: 0 20px;
				}
			}
		}

		&__content {
			margin-bottom: 35px;
		}

		&__submit {
			padding: 18px 30px 40px 30px;

			.btn {
				width: 400px;
			}
		}

		&__timer {
			width: 572px;
			margin: 0 auto;
			background: #fff;
			padding: 0 0 60px 0;

			&_text {
				width: 572px;
				margin: 0 auto;
				font-size: 18px;
				padding: 40px 0 35px 0;
			}

			&_box {
				background: #f1f6f9;
				padding-top: 35px;
				margin-bottom: 25px;
				@include border-radius(6px)
			}

			&_title {
				font-size: 24px;
				line-height: 30px;
				margin-bottom: 20px;
			}

			&_value {
				padding: 5px;
				width: 165px;
				font-size: 24px;
				line-height: 28px;
				margin-bottom: 40px;
			}

			&_progress {
				height: 34px;

				span {
					background-image: url("../img/progress_bg_sm.png");
				}
			}

			&_date {
				font-size: 20px;
				line-height: 22px;
			}
		}

		&__info {
			width: 492px;
			margin: 0 auto;
			font-size: 18px;
			background: #fff;
			padding: 25px 0 30px 0;

			h4 {
				font-size: 18px;
				margin-bottom: 20px;
			}

			p {

			}
		}

		&__box {
			width: 492px;
			border-top: none;
			border-bottom: none;
			margin: 0 auto 40px auto;

			&_title {
				font-size: 24px;
				line-height: 30px;
				margin-bottom: 15px;
			}

			&_value {
				padding: 5px;
				width: 160px;
				font-size: 24px;
				line-height: 28px;

				small {
					font-size: 24px;
				}
			}
		}
	}

	@media (min-width: $screen-md-min) {
		width: 572px;

		&__submit {
			padding: 18px 30px 45px 30px;
		}

		&__info {
			width: 100%;
		}

		&__box {
			width: 100%;
		}
	}
}

.value {
	@include flexbox();
	@include align-items(center);
	@include justify-content(space-between);

	&__label {
		color: #000;
		font-size: 14px;
		font-weight: 700;
		line-height: 16px;
		padding-right: 10px;
	}

	&__elem {
		width: 110px;
		background: #fff;
		position: relative;
		@include border-radius(4px);

		&_input {
			z-index: 10;
			width: 100%;
			height: 32px;
			outline: none;
			font-size: 20px;
			font-weight: 700;
			line-height: 20px;
			text-align: right;
			position: relative;
			background: transparent;
			border: 1px solid #dadada;
			padding: 5px 20px 5px 8px;
			font-family: $font-family-base;
			@include border-radius(4px !important);
		}

		&_label {
			z-index: 1;
			right: 7px;
			bottom: 6px;
			color: #666;
			font-size: 18px;
			line-height: 18px;
			position: absolute;
			display: inline-block;
			font-family: $font-family-base;
		}
	}

	&__day {
		width: 110px;
	}

	@media (min-width: $screen-sm-min) {

		&__label {
			font-size: 18px;
			line-height: 18px;
		}

		&__elem {
			width: 132px;
			@include flex-shrink(0);

			&_input {
				height: 40px;
				font-size: 24px;
				line-height: 28px;
				padding-right: 25px;
			}

			&_label {
				font-size: 22px;
				line-height: 24px;
			}
		}

		&__day {
			width: 132px;
			@include flex-shrink(0);
		}
	}
}

.delay {
	background: #fff;
	border-top: 1px solid #e1e2e3;

	&__wrap {
		margin: auto 0;
	}

	&__date {
		@include flexbox();

		&_label {
			width: 50%;
			height: 78px;
			color: #000000;
			font-size: 14px;
			font-weight: 300;
			padding: 10px 25px 10px 20px;
			border-right: 1px solid #e1e2e3;
			@include flexbox();
			@include flex-direction(column);
			@include flex-shrink(0);
		}

		&_value {
			width: 50%;
			height: 78px;
			color: #000000;
			font-size: 14px;
			font-weight: 700;
			padding: 10px 20px 10px 28px;
			@include flexbox();
			@include flex-direction(column);
			@include flex-shrink(0);
		}
	}

	&__sum {
		border-top: 1px solid #e1e2e3;

		&_title {
			width: 100%;
			height: 60px;
			color: #000000;
			font-size: 18px;
			font-weight: 300;
			line-height: 20px;
			text-align: center;

			@include flexbox();
			@include flex-direction(column);
		}

		&_item {
			width: 100%;
			@include flexbox();
			//		border-top: 1px solid #e1e2e3;
		}

		&_active {
			position: relative;

			&:before {
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				content: '';
				position: absolute;
				border: 2px solid $color-red;
			}
		}

		&_label {
			width: 50%;
			height: 78px;
			color: #000000;
			font-size: 14px;
			font-weight: 400;
			padding: 10px 20px 10px 20px;
			border-right: 1px solid #e1e2e3;
			@include flexbox();
			@include flex-direction(column);
			@include flex-shrink(0);
		}

		&_value {
			width: 50%;
			height: 78px;
			color: #000000;
			font-size: 14px;
			font-weight: 700;
			white-space: nowrap;
			padding: 10px 20px 10px 28px;
			@include flexbox();
			@include flex-direction(column);
			@include flex-shrink(0);

			span {
				color: #666666;
				font-size: 13px;
				font-weight: 500;
			}
		}
	}

	@media (min-width: $screen-sm-min) {
		border: 1px solid #e1e2e3;
		@include flexbox();

		&__date {
			width: 266px;
			display: block;
			@include flex-shrink(0);

			&_label {
				width: 100%;
				height: 100px;
				font-size: 20px;
				padding: 10px 20px;
				text-align: center;
				border-right: none;
				border-bottom: 1px solid #e1e2e3;
			}

			&_value {
				width: 100%;
				height: 100px;
				font-size: 20px;
				text-align: center;
				padding: 10px 20px;
			}
		}

		&__sum {
			border-top: none;
			@include flex-grow(1);
			@include flexbox();
			@include flex-wrap(wrap);

			&_title {
				width: 100%;
				height: 60px;
				font-size: 20px;
				border-top: none;
				border-left: 1px solid #e1e2e3;
			}

			&_item {
				width: 50%;
				display: block;
			}

			&_label {
				width: 100%;
				height: 40px;
				font-size: 16px;
				text-align: center;
				border-right: none;
				border-top: 1px solid #e1e2e3;
				border-bottom: 1px solid #e1e2e3;
			}

			&_value {
				width: 100%;
				height: 100px;
				font-size: 24px;
				line-height: 30px;
				text-align: center;

				span {
					font-size: 24px;
				}
			}

			&_active {
				background: #fff8e1;
			}
		}
	}

	@media (min-width: $screen-md-min) {

		&__date {
			width: 185px;
		}
	}
}

.lkf_bot {

	@media (min-width: $screen-sm-min) {
		padding-top: 20px;
		padding-bottom: 40px;
	}
}

.box {
	width: 300px;
	background: #fff;
	margin: 10px auto;
	border: 1px solid #efefef;
	@include box-shadow(0px 0px 24px 0px rgba(204,204,204,0.35));

	&__heading {
		color: #36333b;
		font-size: 15px;
		font-weight: 900;
		text-align: center;
		padding: 12px 20px;
		text-transform: uppercase;
		font-family: $font-family-base;
		border-bottom: 1px solid #e5e5e5;
	}

	&__info {
		font-size: 14px;
		padding: 17px 25px;
		border-bottom: 1px solid #e5e5e5;
	}

	&__content {
		padding: 20px 25px;
		background: #fafbfc;
		border-bottom: 1px solid #e5e5e5;

		&_white {
			background: #fff;
		}
	}

	&__footer {
		padding: 10px 25px 30px 25px;

		.btn {
			width: 100%;
		}
	}

	@media (min-width: $screen-sm-min) {
		width: 500px;

		&__heading {
			font-size: 28px;
			line-height: 30px;
			padding: 25px 10px;
		}

		&__info {
			font-size: 20px;
			font-weight: 300;
			padding: 28px 60px;
		}

		&__content {
			background: #fff;
			padding: 28px 60px 20px 60px;
		}

		&__footer {
			background: #fafbfc;
			padding: 20px 60px 35px 60px;

			.a_btn {
				width: 100%;
			}
		}
	}

	@media (min-width: $screen-md-min) {

		&__info {
			padding: 28px 70px;
		}

		&__content {
			padding: 28px 70px 20px 70px;
		}

		&__footer {
			padding: 20px 70px 40px 70px;
		}
	}
}

.code {
	margin-bottom: 18px;
	@include flexbox();
	@include align-items(center);
	@include justify-content(space-between);

	&__label {
		color: #000000;
		font-size: 14px;
		font-weight: 400;
		line-height: 20px;
	}

	&__input {
		color: #000;
		z-index: 10;
		width: 134px;
		height: 32px;
		outline: none;
		font-size: 20px;
		font-weight: 700;
		line-height: 22px;
		text-align: center;
		position: relative;
		background: #f7f9fc;
		vertical-align: middle;
		border: 1px solid #dadada;
		padding: 4px 15px;
		font-family: "Lato", Arial, sans-serif;
		@include border-radius(4px !important);
		@include placeholder(#000);
		@include flex-shrink(0);

		&::-ms-clear {
			display: none;
			width: 0;
			height: 0;
		}
	}

	&_repeat {
		color: #000;
		font-size: 12px;
		font-weight: 400;
		height: 40px;
		text-decoration: none;
		border: 1px solid #ccc;
		@include flexbox();
		@include align-items(center);
		@include justify-content(center);
		@include border-radius(4px !important);

		i {
			width: 24px;
			display: inline-block;
		}

		span {
			padding-left: 8px;
			display: inline-block;
		}

		&:hover {
			text-decoration: none;
			border-color: #b3b3b3;
		}
	}

	@media (min-width: $screen-sm-min) {
		margin-bottom: 10px;
		@include flex-wrap(wrap);

		&__label {
			width: 100%;
			font-size: 18px;
			line-height: 20px;
			text-align: center;
			padding-bottom: 10px;
		}

		&__input {
			width: 100%;
			height: 60px;
			font-size: 32px;
			line-height: 40px;
			padding: 13px 15px;
			background: #f7f9fc;
		}

		&_repeat {
			height: 60px;
			font-size: 16px;

			i {
				width: 33px;
			}

			span {
				padding-left: 12px;
				padding-bottom: 3px;
			}
		}
	}
}

.br_spacer {
	display: block;
}

.thank_sum {
	color: #000;
	padding: 5px 0;
	font-size: 14px;
	margin-top: 30px;
	background: #f1f6f9;
	@include border-radius(4px);

	&__item {
		padding: 10px 20px;
		@include flexbox();
		@include align-items(center);
		@include justify-content(space-between);

		span {
			font-weight: 300;
			display: inline-block;
		}

		strong {
			font-weight: 700;
			display: inline-block;
			text-decoration: underline;
		}
	}

	@media (min-width: $screen-sm-min) {
		font-size: 16px;
		margin-top: 40px;

		&__item {
			padding: 5px 30px;
		}
	}
}

.lk_left__gray {

	@media (min-width: $screen-lg-min) {
		background: #f9fbfc;

		.account_gray {
			background: #fff;
		}

		.loan_title {
			background: #fff;
		}
	}
}


.select_day {
	display: block;
	position: relative;
	@include transition(.3s);

	&__label {
		z-index: 50;
		height: 32px;
		cursor: pointer;
		overflow: hidden;
		background: #fff;
		padding-right: 40px;
		position: relative;
		border: 1px solid #dadada;
		@include flexbox();
		@include align-items(center);
		@include justify-content(flex-end);
		@include border-radius(4px);

		&_text {
			color: #666666;
			font-size: 12px;
			font-weight: 400;
			line-height: 12px;
			padding-top: 4px;
		}

		&_value {
			color: #000;
			font-size: 18px;
			font-weight: 700;
			line-height: 20px;
			margin-right: 3px;
		}

		&_arrow {
			top: 0;
			right: 0;
			width: 28px;
			height: 100%;
			color: $color-red;
			text-align: center;
			position: absolute;
			background: #fed8bc;
			display: inline-block;
			@include border-radius(0 4px 4px 0);

			i {
				top: 50%;
				left: 50%;
				margin: -7px 0 0 -4px;
				font-size: 14px;
				line-height: 14px;
				position: absolute;
				display: inline-block;
			}
		}
	}

	&__dropdown {
		left: 0;
		z-index: 30;
		opacity: 0;
		width: 100%;
		overflow-y: auto;
		visibility: hidden;
		max-height: 160px;
		position: absolute;
		background: #ffffff;
		top: calc(100% - 3px);
		border: 1px solid #e5e5e5;
		@include border-radius(4px);
		@include box-shadow(0px 6px 8px 0px rgba(223, 223, 223, 0.12));

		ul {
			margin: 0;
			padding: 3px 0 0 0;
			list-style: none;

			 li {
				 color: #666;
				 font-size: 16px;
				 cursor: pointer;
				 text-align: left;
				 line-height: 20px;
				 padding: 5px 10px 7px 20px;

				 &:hover {
					 color: #000;
					 background: #f2f3f7;
				 }
			}
		}
	}

	&.open {

		.select_day__dropdown {
			opacity: 1;
			visibility: visible;
			@include transition(.3s);
		}
	}

	@media (min-width: $screen-sm-min) {

		&__label {
			height: 40px;

			&_text {
				font-size: 18px;
				line-height: 20px;
			}

			&_value {
				font-size: 24px;
				line-height: 30px;
			}

			&_arrow {

			}
		}
	}
}

.loan_title_second {
	color: #f03e26;
	font-size: 14px;
	font-weight: 600;
	line-height: 16px;
	text-transform: inherit;

	@media (min-width: $screen-sm-min) {
		font-size: 18px;
		line-height: 22px;
	}

	@media (min-width: $screen-lg-min) {}
}

.timer_info {
	font-size: 12px;
	font-weight: 300;
	padding-top: 30px;
	text-align: left;
	@include flexbox();
	@include align-items(flex-start);

	&__image {
		width: 72px;
		border: 1px solid #e3e3e4;
		@include flex-shrink(0);
	}

	&__text {
		color: #302e34;
		margin-right: -10px;
		padding-left: 10px;
	}

	@media (min-width: $screen-sm-min) {
		width: 400px;
		margin: 0 auto;
		font-size: 14px;
	//	padding-top: 40px;
		@include align-items(center);

		&__text {
	//		margin-right: 0;
			padding-left: 15px;
		}
	}
}