.partners_step {
	padding-top: 10px;
	padding-bottom: 10px;
	background: #f1f3f7;

	&__container {
		background: #fff;
		border: 1px solid #e5e5e5;
		@include box-shadow(0px 0px 13px 0px rgba(204, 204, 204, 0.5));
	}

	h3 {
		padding: 0;
		color: #000;
		font-size: 15px;
		font-weight: 900;
		text-align: center;
		margin: 0 0 10px 0;
		text-transform: uppercase;

		span {
			display: block;
			color: $color-red;
		}
	}

	&__item {
		height: 89px;
		position: relative;
		font-size: 14px;
		font-weight: 400;
		border-top: 1px solid #e5e5e5;
		@include flexbox();
		@include flex-direction(column);

		&:before {
			top: 50%;
			right: 225px;
			z-index: 10;
			content: '';
			position: absolute;
			display: inline-block;
			background-repeat: no-repeat;
			background-position: 50% 50%;
		}

		small {
			font-size: 12px;
			font-weight: 300;
		}

		&_number {
			display: none;
		}

		&:nth-child(1) {

			&:before {
				width: 38px;
				height: 38px;
				margin-top: -19px;
				background-image: url("../img/partners__icon_01.png");
				background-size: cover;
			}
		}

		&:nth-child(2) {

			&:before {
				width: 35px;
				height: 42px;
				margin-top: -19px;
				background-image: url("../img/partners__icon_02.png");
				background-size: cover;
			}
		}

		&:nth-child(3) {

			&:before {
				width: 42px;
				height: 45px;
				margin-top: -23px;
				background-image: url("../img/partners__icon_03.png");
				background-size: cover;
			}
		}

		&_text {
			margin: auto 0;
			font-weight: 600;
			padding: 10px 10px 10px 95px;
		}
	}

	@media (min-width: $screen-sm-min) {
		background: #fff;
		padding-top: 0;
		padding-bottom: 0;

		&__container {
			border: none;
			background: transparent;
			@include box-shadow(none);
		}

		h3 {
			font-size: 28px;
			margin-bottom: 30px;
			text-align: left;

			span {
				color: #000;
				display: inline;
			}
		}

		&__row {
			border: 1px solid #e5e5e5;
			@include flexbox();
		}

		&__item {
			height: auto;
			width: 33.33%;
			border-top: none;
			font-size: 18px;
			padding-top: 100px;
			border-left: 1px solid #e5e5e5;
			@include box-shadow(0px 0px 13px 0px rgba(204, 204, 204, 0.33));
			@include flex-shrink(0);

			&:after {
				z-index: 10;
				top: 17px;
				right: -4px;
				width: 52px;
				height: 3px;
				content: '';
				position: absolute;
				display: inline-block;
				background: url("../img/deferral__line.png") 0 0 no-repeat;
			}

			&:before {
				left: 20px;
				right: auto;
			}

			&:nth-child(1) {
				z-index: 3;
				border-left: none;

				&:before {
					top: 29px;
					width: 52px;
					height: 52px;
					margin-top: 0;
				}
			}

			&:nth-child(2) {
				z-index: 3;

				&:before {
					top: 30px;
					width: 48px;
					height: 57px;
					margin-top: 0;
				}
			}

			&:nth-child(3) {
				z-index: 1;

				&:after {
					display: none;
				}

				&:before {
					top: 20px;
					width: 57px;
					height: 62px;
					margin-top: 0
				}
			}


			&_text {
				margin: 0;
				background: #f1f6f9;
				padding: 20px 20px 30px 20px;
				@include flex-grow(1);
			}
		}
	}

	@media (min-width: $screen-lg-min) {
		padding-bottom: 20px;

		&__item {
			font-size: 24px;
			line-height: 30px;
			padding-top: 145px;
			background: #fff;

			&_number {
				top: 13px;
				left: 40px;
				z-index: 20;
				font-size: 20px;
				line-height: 20px;
				color: $color-red;
				position: absolute;
				display: inline-block;
			}

			&_text {
				background: #f1f6f9;
				padding: 25px 30px 35px 64px;
			}

			small {
				font-size: 20px;
			}

			&:after {
				top: 27px;
				right: 3px;
			}

			&:before {
				left: 64px;
			}

			&:nth-child(1) {

				&:before {
					top: 52px;
					width: 66px;
					height: 66px;
					margin-top: 0;
				}
			}

			&:nth-child(2) {

				&:before {
					top: 43px;
					width: 69px;
					height: 80px;
					margin-top: 0;
				}
			}

			&:nth-child(3) {

				&:before {
					top: 34px;
					width: 78px;
					height: 84px;
					margin-top: 0
				}
			}
		}
	}
}

.partner {
	color: #000000;
	font-size: 16px;
	position: relative;
	text-decoration: none;
	border-bottom: 1px solid #e5e5e5;
	@include flexbox();
	@include align-items(center);

	&:nth-child(even) {
		@include flex-direction(row-reverse);
	}

	&:nth-child(1) {

		.partner__image_wrap {
			right: -80px;
		}
	}

	&:nth-child(2) {

		.partner__image_wrap {

		}
	}

	&:nth-child(3) {

		.partner__image_wrap {
			right: -80px;
		}
	}

	&__row {
		border-top: 1px solid #e5e5e5;
	}

	&__image {
		z-index: 10;
		width: 50%;
		height: 144px;
		overflow: hidden;
		position: relative;
		border-right: 1px solid #e5e5e5;
		@include box-shadow(0px 0px 13px 0px rgba(204, 204, 204, 0.33));
		@include flex-shrink(0);

		&_wrap {
			top: 0;
			right: 0;
			height: 100%;
			width: 246px;
			position: absolute;

		}
	}

	&__text {
		width: 50%;
		display: block;
		padding: 20px 30px 20px 15px;
		color: #000000;
		position: relative;
		line-height: normal;
		text-decoration: none;

		i {
			top: 50%;
			right: 15px;
			margin-top: -12px;
			position: absolute;
			font-size: 24px;
			font-weight: 400;
			color: $color-red;
		}

		&:hover {
			color: #000;
			text-decoration: none;

			span {
				text-decoration: underline;
			}
		}
	}

	&__button {
		padding: 15px 25px 30px 25px;

		.btn {
			width: 100%;
		}
	}

	@media (min-width: $screen-sm-min) {
		margin: 0;
		width: calc(33.33% - 10px);
		background: #fff;
		text-align: center;
		font-size: 24px;
		border: 1px solid #e5e5e5;
		@include box-shadow(0px 0px 24px 0px rgba(204,204,204,0.35));
		display: block;

		&:nth-child(1) {

			.partner__image_wrap {
				right: 0;
			}
		}

		&:nth-child(2) {

			.partner__image_wrap {
				top: -40px;
				width: 360px;
				right: 0;
			}
		}

		&:nth-child(3) {

			.partner__image_wrap {
				top: -40px;
				width: 320px;
				right:-80px;
			}
		}

		&__row {
			border-top: none;
			@include flexbox();
			@include justify-content(space-between);
		}

		&__image {
			border: none;
			width: 100%;
			font-size: 0;
			line-height: 0;
			height: 145px;
			border-bottom: 1px solid #e5e5e5;
		}

		&__text {
			width: 100%;
			height: 130px;
			display: block;
			text-align: center;
			padding: 25px 30px 20px 30px;

			span {
				display: block;
			}


			i {
				top: auto;
				right: auto;
				left: 50%;
				bottom: 25px;
				margin-top: 0;
				margin-left: -5px;
				position: absolute;
			}
		}

		&__button {
			border-top: none;
			text-align: center;
			padding: 40px 0 0 0;

			.btn {
				width: 256px;
			}
		}
	}

	@media (min-width: $screen-lg-min) {
		text-align: left;
		@include flexbox();

		&:nth-child(even) {
			text-align: left;
			@include flex-direction(row);
		}

		&:nth-child(1) {

			.partner__image_wrap {
				top: 0;
				right: -170px;
				width: 370px;
			}
		}

		&:nth-child(2) {

			.partner__image_wrap {
				top: 0;
				right: -10px;
				width: 370px;
			}
		}

		&:nth-child(3) {

			.partner__image_wrap {
				top: 0;
				right: -150px;
				width: 370px;
			}
		}

		&__image {
			width: 170px;
			height: 240px;
			border: none;
			border-right: 1px solid #e5e5e5;

			&_wrap {
				width: 370px;
				position: absolute;
			}
		}

		&__text {
			text-align: left;
			height: auto;
			width: calc(100% - 170px);
			padding: 35px 40px 35px 15px;
			@include flexbox();

			i {
				top: 50%;
				right: 15px;
				left: auto;
				bottom: auto;
				margin-left: 0;
				margin-top: -12px;
			}
		}

		&__button {

			.btn {
				width: 346px;
			}
		}
	}
}

.partners {
	background: #f1f3f7;
	padding-bottom: 10px;

	&__mobile {
		padding-bottom: 25px;
		background: #fff;
		border: 1px solid #e5e5e5;
		@include box-shadow(0px 0px 24px 0px rgba(204,204,204,0.35));
	}

	&__heading {
		padding: 0 25px;
		text-align: center;

		&_red {
			color: $color-red;
		}

		h2 {
			margin: 0;
			padding: 20px 0 16px 0;
			font-size: 15px;
			font-weight: 900;
			text-transform: uppercase;
			border-bottom: 1px solid #e5e5e5;
		}
	}

	&__wrap {
		padding: 0 20px;
		position: relative;
	}

	&__logo {
		margin: 0 auto;
		max-width: 240px;
	}

	.swiper-slide {
		padding: 18px 0;
	}

	.swiper-pagination {
		left: auto;
		right: auto;
		bottom: auto;
		font-size: 0;
		line-height: 0;
		padding-top: 10px;
		position: relative;
		@include flexbox();
		@include justify-content(center);
	}

	.swiper-pagination-bullet {
		top: auto;
		left: auto;
		right: auto;
		bottom: auto;
		position: relative;
	}

	@media (min-width: $screen-sm-min) {
		padding-top: 50px;
		background: #f6f9fb;
		padding-bottom: 40px;

		&__mobile {
			border: none;
			background: transparent;
			@include box-shadow(none);
		}

		&__heading {
			padding: 0;
			text-align: left;

			h2 {
				padding: 0;
				font-size: 28px;
				margin-bottom: 40px;
				border-bottom: none;

				span {
					color: $color-red;
				}
			}
		}

		&__wrap {
			padding: 0 60px;
		}

		.swiper-pagination {
			padding-top: 20px;
		}
	}


	@media (min-width: $screen-lg-min) {
		padding-bottom: 50px;

		.swiper-pagination {
			padding-top: 25px;
		}
	}
}

.slider_prev,
.slider_next {
	top: 50%;
	opacity: .5;
	z-index: 20;
	width: 11px;
	height: 18px;
	cursor: pointer;
	margin-top: -9px;
	position: absolute;
	background: url('../images/prev2.png') no-repeat;
	@include transition(.3s);

	&:hover {
		opacity: 1;
		@include transition(.3s);
	}

	@media (min-width: $screen-sm-min) {
		width: 21px;
		height: 42px;
		margin-top: -21px;
		background: url('../images/prev1.png') no-repeat;
		background-size: cover;
	}
}

.slider_prev {
	left: -5px;

	@media (min-width: $screen-sm-min) {
		left: 10px;
	}
}

.slider_next {
	right: -5px;
	@include rotate(180deg);

	@media (min-width: $screen-sm-min) {
		right: 10px;
	}
}