.comments {
	padding-top: 10px;
	background: #f1f3f7;
	padding-bottom: 10px;
	@include flex-grow(1);

	@media (min-width: $screen-sm-min) {
		background: #fff;
		padding-top: 38px;
		padding-bottom: 30px;
	}

	@media (min-width: $screen-lg-min) {
		padding-top: 60px;
	}
}

.comments_heading {
	margin: 0;
	background: #fff;
	text-align: center;
	padding: 14px 10px;
	border: 1px solid #dedfe1;
	border-bottom: none;

	&__second {
		display: none;
		color: #6c5d88;
		font-size: 12px;
		font-weight: 400;
		line-height: 14px;
		margin-bottom: 20px;
		text-transform: uppercase;
	}

	&__primary {
		color: #000;
		font-size: 15px;
		font-weight: 900;
		line-height: 20px;
		text-transform: uppercase;
	}

	@media (min-width: $screen-sm-min) {
		padding: 0;
		border: none;
		text-align: left;
		margin-bottom: 40px;

		&__second {
			display: block;
		}

		&__primary {
			font-size: 28px;
			line-height: 30px;
		}
	}

	@media (min-width: $screen-lg-min) {

	}
}

.comment {
	background: #fff;
	margin-bottom: 10px;
	border: 1px solid #e7e7e7;

	&__user {
		padding: 8px 25px;
		border-bottom: 1px solid #e7e7e7;
		@include flexbox();
		@include align-items(center);

		&_photo {
			width: 84px;
			overflow: hidden;
			@include box-shadow( 0px 0px 12px 0px rgba(204, 204, 204, 1));
			@include border-radius(50%);
			@include flex-shrink(0);
		}

		&_text {
			font-size: 14px;
			padding-left: 10px;
			@include flex-grow(1);
		}

		&_name {
			color: #000;
			font-weight: 600;
		}

		&_city {
			color: #666666;
		}

		&_link {
			outline: none;
			color: #6699cc;
			text-decoration: none;

			&:hover {
				color: #6699cc;
				text-decoration: none;
			}
		}
	}

	&__content {
		font-size: 14px;
		font-weight: 300;
		padding: 28px 25px 35px 25px;
	}

	@media (min-width: $screen-sm-min) {
		width: calc(50% - 10px);
		margin-bottom: 20px;
		@include box-shadow(0px 0px 24px 0px rgba(204, 204, 204, 0.33));

		&_row {
			@include flexbox();
			@include flex-wrap(wrap);
			@include justify-content(space-between);
		}

		&__user {
			padding: 20px 10px 20px 40px;

			&_photo {
				width: 91px;
				height: 91px;
			}

			&_text {
				font-size: 18px;
				padding-left: 20px;
			}

			&_name {
				font-size: 20px;
			}

			&_city {
				margin-bottom: 15px;
			}

			&_link {

			}
		}

		&__content {
			font-size: 20px;
			padding: 30px 20px 45px 40px;
		}
	}

	@media (min-width: $screen-md-min) {
		width: calc(50% - 15px);

		&__user {
			padding: 20px 10px 20px 45px;

			&_photo {
				width: 120px;
				height: 120px;
			}

			&_text {
				font-size: 18px;
				padding-left: 20px;
			}

			&_name {
				font-size: 20px;
			}

			&_city {
				margin-bottom: 15px;
			}

			&_link {

			}
		}

		&__content {
			font-size: 20px;
			padding: 30px 20px 70px 45px;
		}
	}
}
