.page_wp {
	min-height: 100vh;
	@include flexbox();
	@include flex-direction(column);
}

.main {
	padding-top: 10px;
	background: #f1f3f7;
	padding-bottom: 10px;
	@include flex-grow(1);

	&__mobile {
		background: #fff;
		border: 1px solid #e5e5e5;
		@include box-shadow(0px 0px 24px 0px rgba(204,204,204,0.35));
	}

	&__heading {
		padding: 20px 25px;
		text-align: center;

		&_red {
			color: $color-red;
		}

		h2 {
			margin: 0;
			padding: 0;
			font-size: 15px;
			font-weight: 900;
			text-transform: uppercase;
		}
	}

	@media (min-width: $screen-sm-min) {
		background: #fff;
		padding-top: 55px;
		padding-bottom: 50px;

		&__mobile {
			border: none;
			background: transparent;
			@include box-shadow(none);
		}

		&__heading {
			padding: 0;
			text-align: left;
			margin-bottom: 40px;

			h2 {
				font-size: 24px;
			}
		}
	}

	@media (min-width: $screen-lg-min) {
		padding-top: 55px;
		padding-bottom: 60px;
	}
}

.main_heading {
	margin: 0;
	text-align: center;
	padding: 14px 10px;
	border: 1px solid #dedfe1;

	&__second {
		display: none;
		color: #6c5d88;
		font-size: 12px;
		font-weight: 400;
		line-height: 14px;
		margin-bottom: 20px;
		text-transform: uppercase;
	}

	&__primary {
		color: #000;
		font-size: 15px;
		font-weight: 900;
		line-height: 20px;
		text-transform: uppercase;
	}

	@media (min-width: $screen-sm-min) {
		padding: 0;
		border: none;
		text-align: left;
		margin-bottom: 40px;

		&__second {
			display: block;
		}

		&__primary {
			font-size: 28px;
			line-height: 30px;
		}
	}

	@media (min-width: $screen-lg-min) {

	}
}

.block_xs {
	display: block;

	@media (min-width: $screen-sm-min) {
		display: inline;
	}
}

.heading {
	font-size: 14px;
	font-weight: 300;
	padding-top: 20px;
	background: #f1f3f7;

	&__inner {
		position: relative;
	}

	&__image {
		z-index: 1;
		display: none;
		position: absolute;
	}

	&__box {
		background: #fff;
		border: 1px solid #dedfe1;
		@include box-shadow(0px 0px 13px 0px rgba(204, 204, 204, 0.5));
	}

	&__title {
		margin: 0 0 20px 0;

		&_second {
			display: none;
			color: #6c5d88;
			font-size: 12px;
			font-weight: 400;
			line-height: 14px;
			margin-bottom: 15px;
			text-transform: uppercase;
		}

		h1 {
			margin: 0;
			padding: 0;
			color: #000;
			font-size: 18px;
			font-weight: 900;
			line-height: 20px;
			text-align: center;
			text-transform: uppercase;
			font-family: $font-family-base;
		}
	}

	&__subtitle {
		color: #000;
		font-size: 15px;
		font-weight: 900;
		text-align: center;
		padding: 0 25px 8px 25px;
		margin: 0 -25px 15px -25px;
		text-transform: uppercase;
		border-bottom: 1px solid #eef3f6;
	}

	&__image_mobile {
		overflow: hidden;
		margin-bottom: 15px;
		@include border-radius(5px);
	}

	&__text {

		strong {
			font-weight: 700;
		}
	}

	&__content {
		padding: 20px 25px;
	}

	&__buttons {
		margin: 0;
		background: #fafbfc;
		padding: 10px 25px 28px 25px;
		border-top: 1px solid #f2f2f2;
		list-style: none;

		> li {
			margin-bottom: 12px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.btn {
		width: 100%;
	}

	@media (min-width: $screen-sm-min) {
		background: #fff;
		padding-top: 35px;
		padding-bottom: 30px;
		min-height: 530px;

		&_border {
			border-bottom: 2px solid #eef3f6;
		}

		&_border_sm {
			border-bottom: 2px solid #eef3f6;
		}

		&_partners {
			min-height: 490px;
			border-bottom: none;
		}

		&_bonus {
			min-height: 510px;
		}

		&__image {

			&_tablet {
				top: -20px;
				right: -45px;
				width: 501px;
				display: block;
			}
		}


		&__wrap {
			z-index: 10;
			width: 420px;
			position: relative;
		}

		&__image_mobile {
			display: none;
		}

		&__title {
			max-width: 320px;
			margin-bottom: 45px;

			&_second {
				display: block;
			}

			h1 {
				color: #302e34;
				font-size: 28px;
				line-height: 32px;
				text-align: left;
			}
		}

		&__content {
			padding: 0;
			font-size: 20px;
		}

		&__box {
			padding: 0;
			border: none;
			background: transparent;
			@include box-shadow(none);
		}

		&__subtitle {
			padding: 0;
			color: #36333b;
			font-size: 18px;
			border-bottom: none;
			line-height: 22px;
			text-align: left;
			margin: 0 0 35px 0;
		}

		&__text {
			margin-bottom: 50px;
		}

		&__buttons {
			margin: 0 -5px;
			padding: 0;
			border: none;
			background: transparent;
			@include flexbox();

			> li {
				margin: 0;
				padding: 0 5px;
			}

			.btn {
				width: auto;
			}
		}
	}

	@media (min-width: $screen-lg-min) {
		overflow: hidden;
		padding-bottom: 50px;
		min-height: 510px;

		&_border_sm {
			border-bottom: none;
		}

		&_bonus {
			min-height: 490px;
		}

		&__wrap {
			width: 540px;
		}

		&__title {
			max-width: inherit;
			margin-bottom: 70px;
		}

		&__subtitle {
			margin-bottom: 40px;
		}

		&__content {
			font-size: 24px;
		}


		&__text {
			margin-bottom: 45px;
		}

		&__buttons {
			width: 504px;


			> li {
				width: 50%;
			}

			.btn {
				width: 100%;
			}
		}

		&__image {

			&_tablet {
				display: none;
			}

			&_desktop {
				top: -50px;
				right: 50px;
				width: 633px;
				display: block;
			}
		}
	}
}

.deferral {
	padding-top: 10px;
	padding-bottom: 10px;
	background: #f1f3f7;

	&__container {
		background: #fff;
		border: 1px solid #e5e5e5;
		@include box-shadow(0px 0px 13px 0px rgba(204, 204, 204, 0.5));
	}

	h3 {
		margin: 0;
		color: #000;
		font-size: 15px;
		font-weight: 900;
		text-align: center;
		padding: 25px 0 10px 0;
		text-transform: uppercase;

		span {
			display: block;
			color: $color-red;
		}
	}

	&__item {
		height: 89px;
		position: relative;
		font-size: 14px;
		font-weight: 400;
		border-top: 1px solid #e5e5e5;

		&:before {
			top: 50%;
			right: 225px;
			z-index: 10;
			content: '';
			position: absolute;
			display: inline-block;
			background-repeat: no-repeat;
			background-position: 50% 50%;
		}

		small {
			font-size: 12px;
			font-weight: 300;
		}

		&_number {
			display: none;
		}

		&:nth-child(1) {

			&:before {
				width: 41px;
				height: 38px;
				margin-top: -19px;
				background-image: url("../img/deferral__icon_01.png");
				background-size: cover;
			}
		}

		&:nth-child(2) {

			&:before {
				width: 42px;
				height: 45px;
				margin-top: -23px;
				background-image: url("../img/deferral__icon_02.png");
				background-size: cover;
			}
		}

		&:nth-child(3) {

			&:before {
				width: 38px;
				height: 38px;
				margin-top: -19px;
				background-image: url("../img/deferral__icon_03.png");
				background-size: cover;
			}
		}

		&_text {
			padding: 25px 10px 10px 85px;
		}
	}

	@media (min-width: $screen-sm-min) {
		background: #fff;
		padding-top: 57px;
		padding-bottom: 45px;

		&__container {
			border: none;
			background: transparent;
			@include box-shadow(none);
		}

		h3 {
			padding: 0;
			font-size: 18px;
			margin-bottom: 30px;
			text-align: left;

			span {
				color: #000;
				display: inline;
			}
		}

		&__row {
			border: 1px solid #e5e5e5;
			@include flexbox();
		}

		&__item {
			height: auto;
			width: 33.33%;
			border-top: none;
			font-size: 24px;
			font-weight: 400;
			border-left: 1px solid #e5e5e5;
			@include box-shadow(0px 0px 13px 0px rgba(204, 204, 204, 0.33));
			@include flex-shrink(0);

			&:after {
				z-index: 10;
				top: 17px;
				right: -4px;
				width: 52px;
				height: 3px;
				content: '';
				position: absolute;
				display: inline-block;
				background: url("../img/deferral__line.png") 0 0 no-repeat;
			}

			&:before {
				left: 20px;
				right: auto;
			}

			&:nth-child(1) {
				z-index: 3;
				border-left: none;

				&:before {
					top: 29px;
					width: 56px;
					height: 53px;
					margin-top: 0;
				}
			}

			&:nth-child(2) {
				z-index: 2;

				&:before {
					top: 20px;
					width: 57px;
					height: 62px;
					margin-top: 0
				}
			}

			&:nth-child(3) {
				z-index: 1;

				&:after {
					display: none;
				}

				&:before {
					top: 30px;
					width: 53px;
					height: 53px;
					margin-top: 0;
				}
			}

			small {
				display: block;
				font-size: 16px;
				line-height: 20px;
			}

			&_text {
				padding: 90px 20px 25px 20px;
			}
		}
	}

	@media (min-width: $screen-lg-min) {
		padding-bottom: 80px;

		&__item {
			font-size: 24px;
			line-height: 30px;
			padding-top: 137px;
			background: #fff;

			&_number {
				top: 13px;
				left: 40px;
				z-index: 20;
				font-size: 20px;
				line-height: 20px;
				color: $color-red;
				position: absolute;
				display: inline-block;
			}

			&_text {
				background: #f1f6f9;
				padding: 25px 30px 60px 40px;
			}

			small {
				padding-top: 10px;
				font-size: 20px;
			}

			&:after {
				top: 27px;
				right: 3px;
			}

			&:before {
				left: 40px;
			}

			&:nth-child(1) {

				&:before {
					top: 52px;
					width: 70px;
					height: 66px;
					margin-top: 0;
				}
			}

			&:nth-child(2) {

				&:before {
					top: 34px;
					width: 78px;
					height: 84px;
					margin-top: 0
				}
			}

			&:nth-child(3) {

				&:before {
					top: 43px;
					width: 67px;
					height: 67px;
					margin-top: 0;
				}
			}
		}
	}
}

.manual {
	padding-bottom: 10px;
	background: #f1f3f7;

	&__heading {
		margin: 0;
		padding: 35px 25px 0 25px;
	}

	@media (min-width: $screen-sm-min) {
		background: #f9fbfc;
		padding-top: 50px;
		padding-bottom: 25px;

		&__heading {
			padding: 0;
			margin-bottom: 15px;
		}
	}

	@media (min-width: $screen-lg-min) {
		padding-top: 70px;
		padding-bottom: 75px;

		&__heading {
			margin-bottom: 40px;
		}
	}
}

@media screen and (min-width: 768px) and (max-width: 1191px) {

	.instruction_info {
		padding-top: 10px;

		&::before {
			top: -5px;
			left: -55px;
		}
	}

	.ib_v1 {

		.instruction_info {

			&::before {
				top: -5px;
				left: inherit;
				right: -55px;
			}
		}
	}
}

.how_to {
	padding-bottom: 10px;
	background: #f1f3f7;

	&__box {
		background: #fff;
		text-align: center;
		border: 1px solid #dedfe1;
		@include box-shadow(0px 0px 13px 0px rgba(204, 204, 204, 0.5));
	}

	&__content {
		padding: 35px 25px 25px 25px;
	}

	&__heading {
		color: #000;
		font-size: 24px;
		font-weight: 900;
		text-transform: uppercase;
	}

	&__text {
		font-size: 16px;
		font-weight: 900;
		margin-bottom: 20px;
		text-transform: uppercase;
	}

	&__image {
		width: 240px;
		margin: 0 auto;
	}

	&__button {
		background: #fafbfc;
		padding: 10px 25px 30px 25px;
		border-top: 1px solid #f2f2f2;

		.btn {
			width: 100%;
		}
	}

	@media (min-width: $screen-sm-min) {
		height: 402px;
		padding-top: 100px;
		border-top: 1px solid #e7e7e7;
		border-bottom: 1px solid #e7e7e7;
		background: #fff url("../img/how_to__bg_tablet.png") 50% 50% no-repeat;

		&__box {
			width: 310px;
			border: none;
			text-align: right;
			background: transparent;
			@include box-shadow(none);
		}

		&__heading {
			font-size: 30px;
		}

		&__text {
			margin-bottom: 35px;
		}

		&__image {
			display: none;
		}

		&__content {
			padding: 0;
		}

		&__button {
			padding: 0;
			border-top: none;
			background: transparent;

			.btn {
				width: 256px;
			}
		}
	}

	@media (min-width: $screen-lg-min) {
		height: 497px;
		padding-top: 130px;
		background: #fff url("../img/how_to__bg_desktop.png") 50% 50% no-repeat;

		&__box {
			width: 425px;
			text-align: left;
		}

		&__heading {
			font-size: 40px;
			margin-bottom: 20px;
		}

		&__text {
			font-size: 18px;
			text-align: right;
			margin-bottom: 45px;
		}

		&__button {

			.btn {
				width: 320px;
			}
		}
	}
}

.career {
	color: #000000;
	font-size: 16px;
	border: 1px solid #e5e5e5;
	border-bottom: none;
	@include flexbox();
	@include align-items(center);

	&:nth-child(even) {
		text-align: center;
		@include flex-direction(row-reverse);
	}

	&__row {

	}

	&__image {
		width: 50%;
		height: 144px;
		overflow: hidden;
		position: relative;
		@include flex-shrink(0);

		&_wrap {
			top: 0;
			right: 0;
			height: 100%;
			width: 246px;
			position: absolute;

		}
	}

	&__text {
		width: 50%;
		padding: 20px;
		line-height: normal;
		position: relative;
		@include flex-shrink(0);

		&_wrap {

		}
	}

	&__content {
		font-size: 14px;
		font-weight: 300;
		padding: 20px 25px 25px 25px;
		border-top: 1px solid #e5e5e5;

		strong {
			font-weight: 600;
		}
	}

	@media (min-width: $screen-sm-min) {
		width: calc(33.33% - 10px);
		background: #fff;
		text-align: center;
		font-size: 24px;
		border: 1px solid #e5e5e5;
		@include box-shadow(0px 0px 24px 0px rgba(204,204,204,0.35));
		display: block;

		&:nth-child(even) {
			@include flex-direction(row);
		}

		&__row {
			@include flexbox();
			@include justify-content(space-between);
		}

		&__image {
			width: 100%;
			height: auto;
			font-size: 0;
			line-height: 0;

			&_wrap {
				width: auto;
				height: auto;
				position: relative;
			}
		}

		&__text {
			width: 100%;
			padding: 30px 30px 40px 30px;
		}

		&__content {
			border-top: none;
			font-size: 18px;
			padding: 40px 0 0 0;
		}

		&:nth-child(2) {

			.career__text {
				padding-top: 48px;
			}
		}
	}

	@media (min-width: $screen-lg-min) {
		text-align: left;
		@include flexbox();

		&:nth-child(even) {
			text-align: left;
		}

		&:nth-child(2) {

			.career__text {
				padding-top: 35px;
			}

			.career__image_wrap {
				right: -180px;
			}
		}

		&__image {
			width: 168px;
			height: 240px;

			&_wrap {
				width: 410px;
				height: 240px;
				position: absolute;
			}
		}

		&__text {
			width: calc(100% - 168px);
			padding: 35px;
		}

		&__content {
			padding: 50px 50px 0 100px;
		}
	}
}


.footer_down {
	@include flex-grow(1);
}

.page_gray {
	background: #f7f8fa;
}

.main_modal {
	padding: 0;
	height: 460px;
	color: #000000;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	max-height: 100vh;
	max-width: 400px;
	background: #fff;

	&__scroll {
		height: 100%;
		max-height: 100%;
		position: relative;

		&:before {
			left: 10px;
			right: 0;
			bottom: 0;
			content: '';
			z-index: 500;
			height: 30px;
			display: block;
			position: absolute;
			background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
			background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
			background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
		}

		&:after {
			left: 10px;
			right: 0;
			top: 0;
			content: '';
			z-index: 500;
			height: 30px;
			display: block;
			position: absolute;
			background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
			background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
			background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
		}
	}

	&__content {
		padding: 25px 20px;
	}

	.mCSB_scrollTools {
		left: 0;
		opacity: 1;
		width: 10px;
		right: auto;

		.mCSB_draggerContainer {

		}
	}
	.mCS-dark-3.mCSB_scrollTools .mCSB_draggerRail {
		background-color: #f2f6f9;
	}

	.mCS-dark-3.mCSB_scrollTools
	.mCSB_draggerRail,
	.mCS-light-3.mCSB_scrollTools .mCSB_draggerRail {
		width: 10px;
	}

	.mCS-dark-3.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
	.mCS-light-3.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
		width: 10px;
		background-color: #ef3526;
	}

	.mCSB_inside>.mCSB_container {
		margin-right: 0;
		padding-left: 20px;
	}

	@media (min-width: $screen-lg-min) {
		font-size: 16px;
		line-height: 22px;
	}
}



.modal_wrap {
	padding-top: 50px;

	@media (min-width: $screen-sm-min) {
		margin-bottom: 26px;
	}
}

.modal_image {
	text-align: center;
	margin-bottom: 15px;

	@media (min-width: $screen-sm-min) {
		margin-bottom: 25px;
	}
}

.modal_box {
	font-size: 14px;
	font-weight: 300;
	margin-top: 15px;
	background: #f1f3f7;
	text-align: center;
	padding: 10px 25px 15px 25px;
	@include border-radius(6px);

	strong {
		font-weight: 600;
	}

	@media (min-width: $screen-sm-min) {
		font-size: 20px;
		margin-top: 30px;
		padding: 25px 35px 30px 35px;
	}

	@media (min-width: $screen-lg-min) {

	}
}

.modal_link {
	color: #ff6f37;
	text-decoration: underline;

	&:hover  {
		color: #ff6f37;
		text-decoration: none;
	}

	@media (min-width: $screen-sm-min) {

	}

	@media (min-width: $screen-lg-min) {

	}
}

.modal_bottom {
	font-size: 14px;
	text-align: center;
	padding: 15px 25px 0 25px;

	@media (min-width: $screen-sm-min) {
		padding-top: 20px;
		font-size: 18px;
	}

	@media (min-width: $screen-lg-min) {

	}
}