.img_fluid {
	height: auto !important;
	display: block !important;
	max-width: 100% !important;
}

.ico_svg {
	position: relative;
	display: inline-block;
	width: auto;
	height: 100%;
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
}

.hide {
	opacity: 0 !important;
	display: none !important;
	visibility: hidden !important;
}

.hide_xs {

	@media (max-width: $screen-xs-max) {
		display: none !important;
	}
}

.hide_sm {

	@media (min-width: $screen-sm-min) {
		display: none !important;
	}
}

// Alignment

.text_center    { text-align: center !important; }
.text_right     { text-align: right !important; }
.text_justify   { text-align: justify !important; }
.text_nowrap    { white-space: nowrap !important; }


// Transformation

.text_lowercase  { text-transform: lowercase !important; }
.text_uppercase  { text-transform: uppercase !important; }
.text_capitalize { text-transform: capitalize !important; }

.text_base       { font-weight: 400 !important; }

.mb_0            { margin-bottom: 0px !important; }
.mb_10 			 { margin-bottom: 10px !important; }
.mb_20 			 { margin-bottom: 20px !important; }
.mb_30 			 { margin-bottom: 30px !important; }
.mb_40 			 { margin-bottom: 40px !important; }
.mb_50 			 { margin-bottom: 50px !important; }
.mb_60 			 { margin-bottom: 60px !important; }


.mw_350          { max-width: 350px !important; }

.color_red       { color: $color-red !important; }
.color_black     { color: #000000 !important; }


.hyphens_sm {
	display: none;

	@media (min-width: $screen-sm-min) {
		display: inline;
	}

	@media (min-width: $screen-lg-min) {
		display: none;
	}
}

.red_xs {
	color: $color-red;

	@media (min-width: $screen-sm-min) {
		color: #000;
	}
}

.color_red_sm {
	color: #000;

	@media (min-width: $screen-sm-min) {
		color: $color-red;
	}
}

.block_sm {

	@media (min-width: $screen-sm-min) {
		display: block;
	}
}

.block_sm_only {

	@media (min-width: $screen-sm-min) {
		display: block;
	}

	@media (min-width: $screen-lg-min) {
		display: inline;
	}
}

.visible_lg {
	display: none;

	@media (min-width: $screen-lg-min) {
		display: block;
	}
}