.btn {
	color: #000;
	outline: none;
	cursor: pointer;
	padding: 11px 15px;
	font-size: 14px;
	font-weight: 900;
	line-height: 20px;
	user-select: none;
	text-align: center;
	position: relative;
	white-space: nowrap;
	background: transparent;
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
	border: 2px solid #ebebeb;
	@include border-radius(3px);

	&:hover {
		text-decoration: none;
		background: #faf9fa;
		border-color: #c7c3cc;
	}

	&:active {
		background: #fff;
	}


	&:focus,
	&.focus {
		outline: 0;
	}

	@media (min-width: $screen-sm-min) {
		font-size: 18px;
		padding: 23px 20px;
	}
}

.btn_red {
	color: #fff;
	border: none;
	padding: 13px 22px;
	background: #f4522c;
	background: linear-gradient(to bottom, #f4522c 0%,#ef3624 100%);
	-webkit-box-shadow: 0px 0px 14px 0px rgba(244,82,44,0.33);
	-moz-box-shadow: 0px 0px 14px 0px rgba(244,82,44,0.33);
	box-shadow: 0px 0px 14px 0px rgba(244,82,44,0.33);

	&:hover{
		color: #fff;
		background: #ff5e3a;
		background: linear-gradient(to bottom, #ff5e3a 0%,#ff4432 100%);
	}

	&:active{
		color: #fff;
		background: #ec2d1b;
		background: linear-gradient(to bottom, #ec2d1b 0%,#f14421 100%);
	}

	@media (min-width: $screen-sm-min) {
		padding: 25px 30px;
	}
}

.btn_xs_invert {
	color: #000;
	border-color: #f15040;

	@media (min-width: $screen-sm-min) {
		color: $color-red;
		border-color: #ebebeb;
	}
}

.btn_shadow {
	@include box-shadow(0px 6px 12px 0px rgba(243, 77, 42, 0.5));
}

.btn_lg {
	width: 100%;
	padding: 18px 30px;

	@media (min-width: $screen-sm-min) {
		width: 230px;
		padding: 23px 40px;
	}
}

.btn_line {
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

