.form {

	&__row {
		margin: 0 -10px;
	}

	&__col {
		padding: 0 10px;
	}

	@media (min-width: $screen-sm-min) {

		&__row {
			@include flexbox();
		}

		&__col {
			width: 50%;
			@include flex-shrink(0);
		}
	}

	@media (min-width: $screen-lg-min) {

		&__line {
			margin: 0 -5px;
			@include flexbox();

			&_col {
				width: 50%;
				padding: 0 5px;
				@include flex-shrink(0);
			}
		}
	}
}

.form_group {
	margin-bottom: 10px;

	@media (min-width: $screen-lg-min) {
		margin-bottom: 20px;
	}
}

.rf_pole {
	display: block;
}


.form_block {
	background: #f1f3f7;
	padding-bottom: 10px;

	.rf_input {
		@include border-radius(4px);
	}

	&__mobile {
		background: #fff;
		border: 1px solid #e5e5e5;
		@include box-shadow(0px 0px 24px 0px rgba(204,204,204,0.35));
	}

	&__heading {
		padding: 0 25px;
		text-align: center;

		&_red {
			color: $color-red;
		}

		h2 {
			margin: 0;
			padding: 24px 0 13px 0;
			font-size: 15px;
			font-weight: 900;
			text-transform: uppercase;
			border-bottom: 1px solid #e5e5e5;
		}
	}

	&__content {
		padding: 15px 25px 10px 25px;
	}

	&__submit {
		padding: 14px 25px 20px 25px;
		border-top: 1px solid #e5e5e5;

		.btn {
			width: 100%;
		}
	}

	@media (min-width: $screen-sm-min) {
		background: #fff;
		padding-top: 40px;
		padding-bottom: 40px;
		border-top: 1px solid #f0f3f5;

		&__mobile {
			border: none;
			background: transparent;
			@include box-shadow(none);
		}

		&__heading {
			padding: 0;
			text-align: center;
			margin-bottom: 40px;

			h2 {
				padding: 0;
				font-size: 28px;
				border-bottom: none;

				span {
					color: $color-red;
				}
			}
		}

		&__content {
			padding: 0;
		}

		&__submit {
			border-top: none;
			text-align: center;
			padding: 10px 0 0 0;
			background: transparent;

			.btn {
				width: 256px;
			}
		}

		&__contact {

			.rf_pole {
				height: 215px;
			}

		}
	}

	@media (min-width: $screen-lg-min) {
		padding-bottom: 75px;

		&__submit {
			padding-top: 0;
		}

		&__contact {

			.rf_pole {
				height: 150px;
			}

		}
	}
}


.input_wp .jq-selectbox+p {
	z-index: 1200;
}


.bonus_input {
	background: #f6f7fa;
	border: 1px solid #eaecf2;
}
